<div [hidden]="showResults">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
        <vp-filter-panel (filterChange)="onFilterChange($event)">
            <vp-section header="Backflow Test Search Criteria">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="waterSupplier.id"
                                                   label="Water Supplier"
                                                   type="select"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm"
                                                   [options]="waterSupplierOptions" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="accountNumber"
                                                   label="Account Number"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>

                        <div class="mb-2">
                            <vp-input name="backflowSerialNumber"
                                      type="text"
                                      label="Serial Number"
                                      labelStyle="horizontal"
                                      [(ngModel)]="serialNumber" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="reasonForTest"
                                                   label="Reason for Test"
                                                   type="select"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm"
                                                   [options]="reasonForTestOptions" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="hazardType"
                                                   label="Hazard Type"
                                                   type="select"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm"
                                                   [options]="hazardTypeOptions" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="deviceType"
                                                   label="Backflow Method"
                                                   type="select"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm"
                                                   [options]="deviceTypeOptions" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="forceRenewal"
                                                   label="Force Renewal"
                                                   type="select"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm"
                                                   [options]="forceRenewalOptions" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="ossf"
                                                   label="OSSF"
                                                   type="select"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <vp-filter-panel-field fieldName="meterNumber"
                                               label="Water Meter Number"
                                               labelStyle="horizontal"
                                               [form]="searchForm" />
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2">
                            <vp-input name="backflowTestHistory"
                                      type="select"
                                      label="Test History"
                                      labelStyle="horizontal"
                                      [options]="testHistoryOptions"
                                      [(ngModel)]="testHistory" />
                        </div>

                        <div class="mb-2">
                            <vp-input name="backflowTestResult"
                                      type="select"
                                      label="Test Result"
                                      labelStyle="horizontal"
                                      [options]="testResultOptions"
                                      [(ngModel)]="testResultFilter" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="outOfService"
                                                   label="Service Status"
                                                   type="select"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm"
                                                   [options]="serviceStatusOptions" />
                        </div>

                        <div class="mb-2">
                            <vp-input name="backflowPaymentStatus"
                                      label="Payment Status"
                                      type="select"
                                      labelStyle="horizontal"
                                      [options]="paymentStatusOptions"
                                      [(ngModel)]="paymentStatus" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="disapproved"
                                                   label="Approved Status"
                                                   type="select"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm"
                                                   [options]="approvedStatusOptions" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="rejected"
                                                   label="Rejected Status"
                                                   type="select"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm"
                                                   [options]="rejectedStatusOptions" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="site.isFeeExempt"
                                                   label="Fee Exempt"
                                                   type="select"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-2">
                            <vp-input name="backflowDateSearchField"
                                      type="select"
                                      label="Date to Search"
                                      labelStyle="horizontal"
                                      [options]="dateSearchOptions"
                                      [(ngModel)]="dateSearchField" />
                        </div>

                        <vp-input name="backflowDateRange"
                                  type="daterange"
                                  label="Date Range"
                                  labelStyle="horizontal"
                                  *ngIf="dateSearchField"
                                  [(ngModel)]="dateRange" />
                    </div>
                </div>
            </vp-section>

            <div class="mt-3">
                <vp-section header="BPAT Criteria">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <vp-input name="backflowBpatId"
                                          type="text"
                                          label="Master or BPAT ID"
                                          labelStyle="horizontal"
                                          [(ngModel)]="bpatId" />
                            </div>

                            <vp-filter-panel-field fieldName="bpatCompanyName"
                                                   label="Company Name"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>

                        <div class="col-md-6">
                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="bpatContactName"
                                                       label="Contact Name"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>

                            <vp-filter-panel-field fieldName="bpatLicenseNumber"
                                                   label="License Number"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>
                    </div>
                </vp-section>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <vp-section header="Property Information">
                        <div>
                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="propertyType"
                                                       label="Property Type"
                                                       type="select"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm"
                                                       [options]="propertyTypes" />
                            </div>

                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="propertyBusinessName"
                                                       label="Business Name"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>

                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="propertyStreetNumber"
                                                       label="Street #"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>

                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="propertyStreetName"
                                                       label="Street Name"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>

                            <vp-filter-panel-field fieldName="propertyNumber"
                                                   label="#"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>
                    </vp-section>
                </div>

                <div class="col-md-6 mt-3 mt-md-0">
                    <vp-section header="Mailing Information">
                        <div>
                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="mailingCompanyName"
                                                       label="Company Name"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>

                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="mailingContactName"
                                                       label="Contact Name"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>

                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="mailingStreetNumber"
                                                       label="Street #"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>

                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="mailingStreetName"
                                                       label="Street Name"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>

                            <vp-filter-panel-field fieldName="mailingNumber"
                                                   label="#"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>
                    </vp-section>
                </div>
            </div>
        </vp-filter-panel>

        <div class="mt-3">
            <vp-validation-summary [form]="searchForm" />

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary vp-section-button">
                    <i class="fa-solid fa-magnifying-glass me-1"></i>
                    Search
                </button>
            </div>
        </div>
    </form>
</div>

<dp-loading-spinner *ngIf="table.isLoading"></dp-loading-spinner>

<div *ngIf="showResults">
    <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-primary vp-section-button" (click)="showResults = false">
            <i class="fa-solid fa-magnifying-glass me-1"></i>
            Search Again
        </button>
    </div>

    <vp-section header="Search Results ({{ table.items?.pageInfo?.totalItems }})">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-6 g-2 mb-3">
            <div class="col">
                <div><i class="fa-solid fa-square text-success me-1"></i>Current Test</div>
                <div><i class="fa-regular fa-square text-success me-1"></i>Non Current Test</div>
            </div>

            <div class="col">
                <div><i class="fa-solid fa-square me-1" style="color: magenta;"></i>Passing Test</div>
                <div><i class="fa-regular fa-square me-1" style="color: magenta;"></i>Failed Test</div>
            </div>

            <div class="col">
                <div><i class="fa-solid fa-square text-primary me-1"></i>In Service</div>
                <div><i class="fa-regular fa-square text-primary me-1"></i>Out of Service</div>
            </div>

            <div class="col">
                <div><i class="fa-solid fa-square text-warning me-1"></i>Paid</div>
                <div><i class="fa-regular fa-square text-warning me-1"></i>Unpaid</div>
            </div>

            <div class="col">
                <div><i class="fa-solid fa-square text-info me-1"></i>Approved</div>
                <div><i class="fa-regular fa-square text-info me-1"></i>Disapproved</div>
            </div>

            <div class="col">
                <div><i class="fa-solid fa-square text-danger me-1"></i>Accepted</div>
                <div><i class="fa-regular fa-square text-danger me-1"></i>Rejected</div>
            </div>
        </div>

        <vp-table *ngIf="table.items"
                  [columns]="table.columns!"
                  [data]="table.items.data"
                  [canViewDetails]="true"
                  (viewDetails)="viewDetails($event)"
                  [(pageInfo)]="table.items.pageInfo"
                  (pageInfoChange)="getTests()"
                  [(query)]="table.query"
                  (queryChange)="getTests()"
                  (queryReset)="getTests()" />
    </vp-section>
</div>

<ng-template #statusCell let-rowData="rowData">
    <div class="d-flex gap-1">
        <i class="fa-square text-success"
           [class.fa-solid]="rowData?.isCurrent"
           [class.fa-regular]="!rowData?.isCurrent"
           [title]="rowData?.isCurrent ? 'Current Test' : 'Non Current Test'"></i>

        <i class="fa-square"
           style="color: magenta;"
           [class.fa-solid]="rowData?.testResult !== testResult.Fail"
           [class.fa-regular]="rowData?.testResult === testResult.Fail"
           [title]="rowData?.testResult === testResult.Fail ? 'Failed Test' : 'Passing Test'"></i>

        <i class="fa-square text-primary"
           [class.fa-solid]="!rowData?.outOfService"
           [class.fa-regular]="rowData?.outOfService"
           [title]="rowData?.outOfService ? 'Out of Service' : 'In Service'"></i>

        <i class="fa-square text-warning"
           [class.fa-solid]="rowData?.transactionId"
           [class.fa-regular]="!rowData?.transactionId"
           [title]="rowData?.transactionId ? 'Paid' : 'Unpaid'"></i>

        <i class="fa-square text-info"
           [class.fa-solid]="!rowData?.disapproved"
           [class.fa-regular]="rowData?.disapproved"
           [title]="rowData?.disapproved ? 'Disapproved' : 'Approved'"></i>

        <i class="fa-square text-danger"
           [class.fa-solid]="!rowData?.rejected"
           [class.fa-regular]="rowData?.rejected"
           [title]="rowData?.rejected ? 'Rejected' : 'Accepted'"></i>
    </div>
</ng-template>

<ng-template #datesCell let-rowData="rowData">
    <div class="text-nowrap">
        <div>
            <span class="fw-semibold">Submitted:</span>
            <span class="ms-1">{{ rowData?.createdTime | date }}</span>
        </div>

        <div>
            <span class="fw-semibold">Tested:</span>
            <span class="ms-1">{{ rowData?.testDate | date }}</span>
        </div>

        <div>
            <span class="fw-semibold">Expires:</span>
            <span class="badge ms-1"
                  *ngIf="rowData?.expirationDate"
                  [class.text-bg-success]="rowData.expirationDate >= todayIso"
                  [class.text-bg-danger]="rowData.expirationDate < todayIso">
                {{ rowData.expirationDate | date }}
            </span>
            <span class="badge text-bg-secondary ms-1" *ngIf="!rowData?.expirationDate">N/A</span>
        </div>
    </div>
</ng-template>

<ng-template #assemblyCell let-rowData="rowData">
    <div>
        <div>
            <span class="fw-semibold">Assembly:</span>
            <span class="ms-1">
                {{ rowData?.manufacturer }} {{ rowData?.model }} {{ rowData?.size }} {{ rowData?.deviceType }}
            </span>
        </div>

        <div *ngIf="rowData?.hazardType">
            <span class="fw-semibold">Hazard:</span>
            <span class="ms-1">{{ rowData.hazardType }}</span>
        </div>

        <div *ngIf="rowData?.locationDescription">
            <span class="fw-semibold">Location:</span>
            <span class="ms-1">{{ rowData.locationDescription }}</span>
        </div>
    </div>
</ng-template>

<ng-template #propertyTypeCell let-rowData="rowData">
    <i class="fa-solid fa-house text-primary"
       title="Residential"
       *ngIf="rowData?.propertyType === propertyType.Residential"></i>
    <i class="fa-solid fa-building text-danger"
       title="Commercial"
       *ngIf="rowData?.propertyType === propertyType.Commercial"></i>
</ng-template>

<ng-template #propertyCell let-rowData="rowData">
    <div>
        <div class="fw-semibold"
             *ngIf="rowData?.propertyType === propertyType.Commercial && rowData?.propertyBusinessName">
            {{ rowData.propertyBusinessName }}
        </div>

        <div>
            {{ rowData?.propertyStreetNumber }} {{ rowData?.propertyStreetName }}
            <span *ngIf="rowData?.propertyNumber">#{{ rowData.propertyNumber }}</span>
        </div>

        <div>
            {{ rowData?.propertyCity }}<span *ngIf="rowData?.propertyCity">,</span>
            {{ rowData?.propertyState?.code }} {{ rowData?.propertyZip }}
        </div>
    </div>
</ng-template>

<ng-template #bpatCell let-rowData="rowData">
    <div>
        <div class="fw-semibold" *ngIf="rowData?.bpatCompanyName">{{ rowData.bpatCompanyName }}</div>
        <div *ngIf="rowData?.bpatContactName">{{ rowData.bpatContactName }}</div>
        <div *ngIf="rowData?.bpatLicenseNumber">{{ rowData.bpatLicenseNumber }}</div>
    </div>
</ng-template>
