<header class="vp-header">
    <nav class="vp-navbar align-items-start bg-gradient bg-primary d-flex navbar navbar-expand-lg"
         [class.show]="isNavbarVisible">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/logo-navbar.svg" alt="Envirotrax Logo" class="vp-logo">
            </a>

            <button class="border-0 navbar-toggler text-white"
                    type="button"
                    ata-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    (click)="isNavbarVisible = !isNavbarVisible">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div *ngIf="isAuthenticated"
                 class="collapse justify-content-end navbar-collapse"
                 id="navbarSupportedContent"
                 [class.show]="isNavbarVisible">
                <div class="d-flex justify-content-center justify-content-lg-end">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <ng-container *ngFor="let item of menuItems">
                            <li class="nav-item pb-3 pb-lg-0" *ngIf="item.hasFeature && item.hasPermission">
                                <a [routerLink]="item.routerLink"
                                   [attr.role]="!item.routerLink ? 'button' : null"
                                   class="fw-bold nav-link p1 rounded-3"
                                   #dropdownButton
                                   (click)="toggleExpanded($event, dropdownButton, dropdownContent, item)">
                                    <i [class]="item.iconCss"></i>
                                    {{item.title}}

                                    <i *ngIf="item.children && item.children.length"
                                       class="fa-solid fa-angles-down small"></i>

                                    <div *ngIf="item.isExpanded"
                                         class="vp-backdrop position-fixed w-100 h-100 vp-backdrop z-1"
                                         style="left: 0">
                                    </div>

                                    <ul class="dropdown-menu shadow-lg border border-primary"
                                        [class.show]="item.isExpanded"
                                        #dropdownContent>
                                        <ng-container *ngFor="let child of item.children">
                                            <li *ngIf="child.type === 'separator' && child.hasFeature && child.hasPermission"
                                                class="m-2">
                                                <hr class="dropdown-divider my-2">
                                            </li>
                                            <li *ngIf="child.type !== 'separator' && child.hasFeature && child.hasPermission"
                                                class="m-2">
                                                <a class="dropdown-item rounded" [routerLink]="child.routerLink">
                                                    <i [class]="child.iconCss" class="me-1"></i>
                                                    {{child.title}}
                                                </a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div *ngIf="isAuthenticated" class="container-fluid">
    <div class="d-flex justify-content-end">
        <div class="col-auto text-nowrap mt-1">
            <button *ngIf="companyName"
                    type="button"
                    [routerLink]="['auth/water-suppliers']"
                    class="login-box left border shadow-sm bg-body text-body py-1 px-2 ms-1">
                <i class="text-primary fa-solid fa-building me-1"></i>{{companyName}}
            </button>
            <button *ngIf="userEmail" type="button"
                    class="login-box border shadow-sm bg-body text-body py-1 px-2 ms-1 rounded">
                <i class="text-primary fa-solid fa-user me-1"></i>{{userEmail}}
            </button>
            <button type="button" class="login-box right border shadow-sm bg-body text-body py-1 px-2 ms-1"
                    (click)="signOut()">
                <i class="text-primary fa-solid fa-right-from-bracket me-1"></i>Logout
            </button>
        </div>
    </div>
</div>

<div class="d-flex w-100 h-100 flex-fill position-relative">
    <vp-toast-container />

    <main id="main-content" class="overflow-auto d-flex flex-column w-100">
        <div class="p-3 flex-fill d-flex flex-column">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

<footer id="footer" class="footer bg-footer text-light py-4 mt-auto">
    <div class="container">
        <div class="row gy-4">

            <div class="col-lg-4">
                <div class="theme-toggle">
                    <em>Light Theme</em>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="chkDarkMode">
                    </div>
                    <em>Dark Theme</em>
                </div>


                <div class="footer-card bg-white text-dark p-4 rounded-4 shadow d-flex flex-column align-items-center justify-content-center text-center">
                    <img src="images/vepo_logo.svg"
                         class="img-fluid mb-3"
                         style="max-height:60px">

                    <p class="mb-0 small">
                        <strong>Phone:</strong>
                        <a href="tel:(281)476-6886" class="text-primary text-decoration-none">(281) 476-6886</a><br>
                        <strong>Email:</strong>
                        <a href="mailto:team@envirotrax.com" class="text-primary text-decoration-none">
                            team@envirotrax.com
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <h5>Site Links</h5>
                <ul class="footer-links">
                    <li><i class="fas fa-angle-double-right"></i><a href="/">Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i><a href="/">Management Programs</a></li>
                    <li><i class="fas fa-angle-double-right"></i><a href="/">Services</a></li>
                    <li><i class="fas fa-angle-double-right"></i><a href="/">About Us</a></li>
                    <li><i class="fas fa-angle-double-right"></i><a href="/">Privacy Policy</a></li>
                    <li><i class="fas fa-angle-double-right"></i><a href="/">Accessibility Statement</a></li>
                </ul>
            </div>

            <div class="col-lg-4">
                <h5>Our Management Programs</h5>
                <ul class="footer-links">
                    <li>
                        <i class="fas fa-angle-double-right"></i><a href="/">
                            Backflow - Cross Connection
                            Management
                        </a>
                    </li>
                    <li><i class="fas fa-angle-double-right"></i><a href="/">CSI Site Inspections</a></li>
                    <li>
                        <i class="fas fa-angle-double-right"></i><a href="/">FOG Inspection & Waste Disposal</a>
                    </li>
                    <li>
                        <i class="fas fa-angle-double-right"></i><a href="/">
                            W.I.S.E. Guys Irrigation
                            Evaluations
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <hr>
        <div class="footer-bottom">
            <p>Vepo, LLC is not affiliated with New York-based Vepo Solutions.</p>
            <p>© Copyright <strong>Vepo LLC</strong>. All Rights Reserved</p>
        </div>
    </div>
</footer>
