<nav class="navbar navbar-expand-lg bg-primary bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo-navbar.svg" alt="Envirotrax Logo" class="vp-logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="isAuthenticated" class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item" *ngFor="let item of menuItems">
                    <a [routerLink]="item.routerLink"
                       [attr.role]="!item.routerLink ? 'button' : null"
                       class="fw-bold nav-link p1 rounded-3"
                       #dropdownButton
                       (click)="toggleExpanded($event, dropdownButton, dropdownContent, item)">
                        <i [class]="item.iconCss"></i>
                        {{item.title}}

                        <i *ngIf="item.children && item.children.length" class="fa-solid fa-angles-down small"></i>

                        <div *ngIf="item.isExpanded"
                             class="vp-backdrop position-fixed w-100 h-100 vp-backdrop z-1"
                             style="left: 0">
                        </div>

                        <ul class="dropdown-menu shadow" [class.show]="item.isExpanded" #dropdownContent>
                            <li *ngFor="let child of item.children" class="m-2">
                                <a class="dropdown-item rounded" [routerLink]="child.routerLink">
                                    <i [class]="child.iconCss" class="me-1"></i>
                                    {{child.title}}
                                </a>
                            </li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-flex w-100 h-100 flex-fill position-relative">
    <main id="main-content" class="overflow-auto d-flex w-100 bg-light" dp-spinner-parent>
        <div class="p-3 flex-fill d-flex flex-column">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>