/* HTML: <div class="loader"></div> */
.vp-loader {
    width: 55px;
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 15deg, #0000, #000);
    animation: l26 1s infinite steps(12);
}

.vp-loader,
.vp-loader:before,
.vp-loader:after {
    background:
        radial-gradient(closest-side at 50% 12.5%,
            #008fd4 96%, #0000) 50% 0/20% 80% repeat-y,
        radial-gradient(closest-side at 12.5% 50%,
            #008fd4 96%, #0000) 0 50%/80% 20% repeat-x;
}

.vp-loader:before,
.vp-loader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
}

.vp-loader:after {
    transform: rotate(60deg);
}

@keyframes l26 {
    100% {
        transform: rotate(1turn)
    }
}

.vp-loader-container {
    min-width: 250px;
}

.dp-spinner-container>div {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    min-width: 250px;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #dee2e6;
    flex-direction: row-reverse;
}

.dp-spinner-container p {
    margin: 0;
    margin-right: 1rem;
}