<dp-loading-spinner *ngIf="isLoading" [message]="loadingMessage" />

<h1 class="text-center h2">
    Tell Us About Your Business
</h1>

<vp-section header="Company Information">
    <form #form="ngForm" (ngSubmit)="save(form)">
        <div class="mb-3">
            <vp-input name="name"
                      label="Company Name"
                      [required]="true"
                      [maxLength]="255"
                      [form]="form"
                      [(ngModel)]="professional.name" />
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <vp-input name="phoneNumber"
                          label="Phone Number"
                          [maxLength]="50"
                          [form]="form"
                          [(ngModel)]="professional.phoneNumber" />
            </div>

            <div class="mb-3 col-md-6">
                <vp-input name="faxNumber"
                          label="Fax Number"
                          [maxLength]="50"
                          [form]="form"
                          [(ngModel)]="professional.faxNumber" />
            </div>
        </div>

        <div class="mb-3">
            <vp-input name="websiteUrl"
                      label="Website"
                      [maxLength]="255"
                      [form]="form"
                      [(ngModel)]="professional.websiteUrl" />
        </div>

        <div class="mb-3">
            <vp-input name="address"
                      label="Address"
                      [maxLength]="255"
                      [form]="form"
                      [(ngModel)]="professional.address" />
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <vp-input name="city"
                          label="City"
                          [maxLength]="255"
                          [form]="form"
                          [(ngModel)]="professional.city" />
            </div>

            <div class="col-md-4 mb-3">
                <vp-input name="stateId"
                          label="State"
                          type="select"
                          [form]="form"
                          [ngModel]="professional.state?.id"
                          (ngModelChange)="stateChanged($event)">
                    <option value=""></option>
                    <option *ngFor="let state of states" [value]="state.id">
                        {{state.name}}
                    </option>
                </vp-input>
            </div>

            <div class="col-md-4 mb-3">
                <vp-input name="zipCode"
                          label="Zip Code"
                          [maxLength]="10"
                          [form]="form"
                          [(ngModel)]="professional.zipCode" />
            </div>
        </div>

        <div class="mt-3">
            <vp-validation-summary [form]="form"
                                   [validationErrors]="validationErrors" />

            <div class="d-flex justify-content-end">
                <button type="submit"
                        class="btn btn-primary vp-section-button">
                    Next
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
        </div>
    </form>
</vp-section>