<h1 class="text-center h2">Trip Ticket Search</h1>

<div [hidden]="showResults">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
        <vp-filter-panel (filterChange)="onFilterChange($event)">

            <!-- General Search Criteria -->
            <vp-section header="General Search Criteria">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="site.accountNumber"
                                                   label="Account number"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="site.transporterLicenseNumber"
                                                   label="Transporter license #"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="site.transporterCompanyName"
                                                   label="Transporter company name"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="site.transporterContactName"
                                                   label="Transporter contact name"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="site.recieverCompanyName"
                                                   label="Receiver company name"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="site.recieverContactName"
                                                   label="Receiver contact name"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>

                    </div>
                    <div class="col-md-6">

                        <!-- Date Type -->
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="dateType"
                                                   label="Date type"
                                                   labelStyle="horizontal"
                                                   type="select"
                                                   [options]="dateTypeOptions"
                                                   [form]="searchForm" />
                        </div>
                        @if (selectedDateType) {
                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="dateRange"
                                                       label="Date range"
                                                       labelStyle="horizontal"
                                                       type="daterange"
                                                       [form]="searchForm" />
                            </div>
                        }

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="interceptorType"
                                                   label="Interceptor type"
                                                   labelStyle="horizontal"
                                                   type="select"
                                                   [options]="interceptorTypeOptions"
                                                   [form]="searchForm" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="ticketStatus"
                                                   label="Ticket status"
                                                   labelStyle="horizontal"
                                                   type="select"
                                                   [options]="ticketStatusOptions"
                                                   [form]="searchForm"
                                                   borderColor="#00a000" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="paymentStatus"
                                                   label="Payment status"
                                                   labelStyle="horizontal"
                                                   type="select"
                                                   [options]="paymentStatusOptions"
                                                   [form]="searchForm"
                                                   borderColor="orange" />
                        </div>

                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="approvalStatus"
                                                   label="Approval status"
                                                   labelStyle="horizontal"
                                                   type="select"
                                                   [options]="approvalStatusOptions"
                                                   [form]="searchForm"
                                                   borderColor="cyan" />
                        </div>

                    </div>
                </div>
            </vp-section>

            <!-- Generator Criteria -->
            <div class="row mt-3">
                <vp-section header="Generator Criteria">
                    <div>
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="propertyType"
                                                   label="Property type"
                                                   labelStyle="horizontal"
                                                   type="select"
                                                   [options]="propertyTypeOptions"
                                                   [form]="searchForm" />
                        </div>
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="propertyBusinessName"
                                                   label="Business name"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>

                        <div class="row">
                            <div class="col-xl-5 d-flex align-items-center">
                                <div class="text-xl-end w-100">
                                    Address
                                </div>
                            </div>
                            <div class="col-xl d-xl-flex gap-1">
                                <div class="mb-2 flex-fill">
                                    <vp-filter-panel-field fieldName="propertyStreetNumber"
                                                           label="Street #"
                                                           [form]="searchForm" />
                                </div>
                                <div class="mb-2 flex-fill">
                                    <vp-filter-panel-field fieldName="propertyStreetName"
                                                           label="Street name"
                                                           [form]="searchForm" />
                                </div>
                                <div class="mb-2 flex-fill">
                                    <vp-filter-panel-field fieldName="propertyNumber"
                                                           label="Suite/Apt #"
                                                           [form]="searchForm" />
                                </div>
                            </div>
                        </div>

                        <div>
                            <vp-filter-panel-field fieldName="propertyZip"
                                                   label="ZIP"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>
                    </div>
                </vp-section>
            </div>

        </vp-filter-panel>

        <div class="mt-3">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary vp-section-button">
                    <i class="fa-solid fa-magnifying-glass me-1"></i>
                    Search
                </button>
            </div>
        </div>
    </form>
</div>

@if (table.isLoading) {
    <dp-loading-spinner></dp-loading-spinner>
}

<!-- Cell Templates -->
<ng-template #iconsCell let-ticket="rowData">
    <div class="d-flex gap-1 align-items-center flex-wrap">
        @if (ticket.pickupCompleted && !ticket.completed) {
            <vp-status-icon imageSrc="/images/icons/bstatus-green-half.png" text="Completed Pickup"
                            [showText]="false" />
        }
        @if (ticket.completed) {
            <vp-status-icon imageSrc="/images/icons/bstatus-green-on.png" text="Completed Ticket" [showText]="false" />
        }
        @if (ticket.transactionId) {
            <vp-status-icon imageSrc="/images/icons/bstatus-orange-on.png" text="Paid" [showText]="false" />
        } @else {
            <vp-status-icon imageSrc="/images/icons/bstatus-orange-off.png" text="Unpaid" [showText]="false" />
        }
        @if (ticket.approvalDate && !ticket.disapproved) {
            <vp-status-icon imageSrc="/images/icons/bstatus-cyan-on.png" text="Approved" [showText]="false" />
        }
        @if (ticket.disapproved) {
            <vp-status-icon imageSrc="/images/icons/bstatus-cyan-off.png" text="Disapproved" [showText]="false" />
        }
        @if (ticket.propertyType === PropertyType.Residential) {
            <vp-status-icon iconClass="fa-solid fa-house text-primary" text="Residential" [showText]="false" />
        }
        @if (ticket.propertyType === PropertyType.Commercial) {
            <vp-status-icon iconClass="fa-solid fa-building text-danger" text="Commercial" [showText]="false" />
        }
    </div>
</ng-template>

<ng-template #removalDateCell let-ticket="rowData">
    <div>{{ticket.interceptorWasteRemovedDate | date:'M/d/yyyy'}}</div>
    <div class="text-muted">{{ticket.interceptorWasteRemovedDate | date:'h:mm a'}}</div>
</ng-template>

<ng-template #waterSupplierCell let-ticket="rowData">
    <div>{{ticket.waterSupplier?.name}}</div>
</ng-template>

<ng-template #generatorCell let-ticket="rowData">
    <div>
        @if (ticket.propertyType === PropertyType.Residential) {
            <i class="fas fa-home me-1" style="font-size: 1rem; color: blue"></i>
        }
        @if (ticket.propertyType === PropertyType.Commercial) {
            <i class="fas fa-building me-1" style="font-size: 1rem; color: red"></i>
        }
        <a [routerLink]="['/sites', ticket.site?.id, 'edit']">{{ticket.propertyBusinessName}}</a>
    </div>
    <div>{{ticket.propertyStreetNumber}} {{ticket.propertyStreetName}} {{ticket.propertyNumber}}</div>
    <div>{{ticket.propertyCity}}</div>
</ng-template>

<ng-template #receiverCell let-ticket="rowData">
    <div>{{ticket.receiverCompanyName}}</div>
    <div>{{ticket.receiverAddress}}</div>
    @if (ticket.receiverCity || ticket.receiverState || ticket.receiverZip) {
        <div>{{ticket.receiverCity}}@if (ticket.receiverCity && ticket.receiverState) {, }{{ticket.receiverState}}
            {{ticket.receiverZip}}
        </div>
    }
    @if (ticket.receiverRegistrationNumber) {
        <div>Registration #: {{ticket.receiverRegistrationNumber}}</div>
    }
</ng-template>

<ng-template #wasteCell let-ticket="rowData">
    <div><small class="text-muted">Interceptor Type:</small> {{ticket.interceptorType}}</div>
    <div><small class="text-muted">Interceptor Capacity:</small> {{ticket.interceptorCapacity}}</div>
    <div><small class="text-muted">Waste Removed:</small> {{ticket.interceptorWasteRemovedAmountGallons}} Gallons</div>
</ng-template>

@if (showResults) {
    <div>
        <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2">
            <button type="button" class="btn btn-primary vp-section-button flex-grow-1 flex-lg-grow-0">
                <i class="fa-regular fa-file-export me-1"></i>
                Export Results
            </button>
            <button type="button" class="btn btn-primary vp-section-button flex-grow-1 flex-lg-grow-0"
                    (click)="viewPrintableTable()">
                <i class="fa-regular fa-table me-1"></i>
                View Printable Table
            </button>
            <button type="button" class="btn btn-primary vp-section-button flex-grow-1 flex-lg-grow-0"
                    (click)="setShowResults(false)">
                <i class="fa-solid fa-magnifying-glass me-1"></i>
                Search Again
            </button>
        </div>

        <vp-section
                    header="Trip Ticket Matching the Search Filter — {{table.items?.pageInfo?.totalItems || 0}} Results">
            <div class="container mb-3" #printableSection>
                <div class="row gap-2 justify-content-center mb-3">
                    <div class="col-auto mb-2">
                        <vp-status-icon imageSrc="/images/icons/bstatus-green-half.png" text="Completed Pickup" />
                        <vp-status-icon imageSrc="/images/icons/bstatus-green-on.png" text="Completed Ticket" />
                    </div>
                    <div class="col-auto mb-2">
                        <vp-status-icon imageSrc="/images/icons/bstatus-orange-on.png" text="Paid" />
                        <vp-status-icon imageSrc="/images/icons/bstatus-orange-off.png" text="Unpaid" />
                    </div>
                    <div class="col-auto mb-2">
                        <vp-status-icon imageSrc="/images/icons/bstatus-cyan-on.png" text="Approved" />
                        <vp-status-icon imageSrc="/images/icons/bstatus-cyan-off.png" text="Disapproved" />
                    </div>
                    <div class="col-auto mb-2">
                        <vp-status-icon iconClass="fa-solid fa-house text-primary" text="Residential" />
                        <vp-status-icon iconClass="fa-solid fa-building text-danger" text="Commercial" />
                    </div>
                </div>
            </div>

            @if (table.items && table.items.data && table.items.data.length > 0) {
                <vp-table [columns]="table.columns!"
                          [data]="table.items.data"
                          [(pageInfo)]="table.items.pageInfo"
                          (pageInfoChange)="getTripTickets()"
                          [(query)]="table.query"
                          (queryChange)="getTripTickets()"
                          (queryReset)="getTripTickets()"
                          [canViewDetails]="true"
                          (viewDetails)="viewDetails($event)"
                          [freeTextSearch]="table.freeTextSearch" />
            }

            @if (table.items?.data?.length === 0) {
                <div class="text-center py-3 text-muted">
                    No records found matching the search criteria.
                </div>
            }
        </vp-section>
    </div>
}