<div>
    <header class="text-center">
        <h1 class="h2">
            Checkout
        </h1>
    </header>

    <div class="text-center mb-3">
        <ul class="vp-tabs nav nav-pills settings-tabs d-inline-flex">
            <li *ngIf="hasBackflowTesting" class="nav-item">
                <a class="nav-link" [class.active]="activeTab === 'backflow'" (click)="setActiveTab('backflow')">
                    <i class="fa-regular fa-gauge me-2"></i>Backflow Tester
                </a>
            </li>
            <li *ngIf="hasCsiInspection" class="nav-item">
                <a class="nav-link" [class.active]="activeTab === 'csi'" (click)="setActiveTab('csi')">
                    <i class="fa-solid fa-building-magnifying-glass me-2"></i>CSI Inspector
                </a>
            </li>
            <li *ngIf="hasFogInspection" class="nav-item">
                <a class="nav-link" [class.active]="activeTab === 'fogInspection'" (click)="setActiveTab('fogInspection')">
                    <i class="fa-regular fa-tank-water me-2"></i>FOG Inspector
                </a>
            </li>
            <li *ngIf="hasFogTransportation" class="nav-item">
                <a class="nav-link" [class.active]="activeTab === 'fogTransport'" (click)="setActiveTab('fogTransport')">
                    <i class="fa-regular fa-tank-water me-2"></i>FOG Transporter
                </a>
            </li>
        </ul>
    </div>

    <ng-template #backflowSelectTemplate let-item="rowData">
        <div class="text-center">
            <input type="checkbox"
                   class="form-check-input"
                   [checked]="item.selected"
                   (click)="$event.stopPropagation()"
                   (change)="item.selected = !item.selected" />
        </div>
    </ng-template>

    <ng-template #backflowEmailPdfTemplate let-item="rowData">
        <div class="text-center">
            <input type="checkbox"
                   class="form-check-input"
                   [checked]="item.emailPdf"
                   (click)="$event.stopPropagation()"
                   (change)="item.emailPdf = !item.emailPdf" />
        </div>
    </ng-template>

    <ng-template #assemblyTemplate let-item="rowData">
        {{ item.manufacturer }} {{ item.model }} {{ item.size }} {{ item.deviceType }}
    </ng-template>

    <ng-template #backflowPropertyTemplate let-item="rowData">
        <div>
            {{ item.propertyStreetNumber }} {{ item.propertyStreetName }}
            <span *ngIf="item.propertyNumber">#{{ item.propertyNumber }}</span>
        </div>
        <div>
            {{ item.propertyCity }}<span *ngIf="item.propertyCity">, </span>{{ item.propertyState?.code }} {{ item.propertyZip }}
        </div>
    </ng-template>

    <ng-template #csiSelectTemplate let-item="rowData">
        <div class="text-center">
            <input type="checkbox"
                   class="form-check-input"
                   [checked]="item.selected"
                   (click)="$event.stopPropagation()"
                   (change)="item.selected = !item.selected" />
        </div>
    </ng-template>

    <ng-template #csiEmailPdfTemplate let-item="rowData">
        <div class="text-center">
            <input type="checkbox"
                   class="form-check-input"
                   [checked]="item.emailPdf"
                   (click)="$event.stopPropagation()"
                   (change)="item.emailPdf = !item.emailPdf" />
        </div>
    </ng-template>

    <ng-template #csiPropertyAddressTemplate let-item="rowData">
        <div>
            {{ item.propertyStreetNumber }} {{ item.propertyStreetName }}
            <span *ngIf="item.propertyNumber">#{{ item.propertyNumber }}</span>
        </div>
        <div>
            {{ item.propertyCity }}<span *ngIf="item.propertyCity">, </span>{{ item.propertyState }} {{ item.propertyZip }}
        </div>
    </ng-template>

    <ng-template #csiMailingAddressTemplate let-item="rowData">
        <div>
            {{ item.mailingStreetNumber }} {{ item.mailingStreetName }}
            <span *ngIf="item.mailingNumber">#{{ item.mailingNumber }}</span>
        </div>
        <div>
            {{ item.mailingCity }}<span *ngIf="item.mailingCity">, </span>{{ item.mailingState }} {{ item.mailingZip }}
        </div>
    </ng-template>

    <ng-template #fogSelectTemplate let-item="rowData">
        <div class="text-center">
            <input type="checkbox"
                   class="form-check-input"
                   [checked]="item.selected"
                   (click)="$event.stopPropagation()"
                   (change)="item.selected = !item.selected" />
        </div>
    </ng-template>

    <ng-template #fogEmailPdfTemplate let-item="rowData">
        <div class="text-center">
            <input type="checkbox"
                   class="form-check-input"
                   [checked]="item.emailPdf"
                   (click)="$event.stopPropagation()"
                   (change)="item.emailPdf = !item.emailPdf" />
        </div>
    </ng-template>

    <ng-template #fogGeneratorTemplate let-item="rowData">
        <div *ngIf="item.propertyBusinessName">{{ item.propertyBusinessName }}</div>
        <div>
            {{ item.propertyStreetNumber }} {{ item.propertyStreetName }}
            <span *ngIf="item.propertyNumber">#{{ item.propertyNumber }}</span>
        </div>
        <div>
            {{ item.propertyCity }}<span *ngIf="item.propertyCity">, </span>{{ item.propertyState?.code }} {{ item.propertyZip }}
        </div>
    </ng-template>

    <ng-template #fogTripTicketInfoTemplate let-item="rowData">
        <div *ngIf="item.submissionId">Ticket #: {{ item.submissionId }}</div>
        <div *ngIf="item.interceptorType">Interceptor: {{ item.interceptorType }}</div>
        <div *ngIf="item.vehicleLicensePlateNumber">Vehicle Plate: {{ item.vehicleLicensePlateNumber }}</div>
        <div *ngIf="item.receiverCompanyName">Receiver: {{ item.receiverCompanyName }}</div>
    </ng-template>

    <ng-template #fogInspectionSelectTemplate let-item="rowData">
        <div class="text-center">
            <input type="checkbox"
                   class="form-check-input"
                   [checked]="item.selected"
                   (click)="$event.stopPropagation()"
                   (change)="item.selected = !item.selected" />
        </div>
    </ng-template>

    <ng-template #fogInspectionGeneratorTemplate let-item="rowData">
        <div *ngIf="item.propertyBusinessName">{{ item.propertyBusinessName }}</div>
        <div>
            {{ item.propertyStreetNumber }} {{ item.propertyStreetName }}
            <span *ngIf="item.propertyNumber">#{{ item.propertyNumber }}</span>
        </div>
        <div>
            {{ item.propertyCity }}<span *ngIf="item.propertyCity">, </span>{{ item.propertyState?.code }} {{ item.propertyZip }}
        </div>
    </ng-template>

    <vp-section *ngIf="activeTab === 'backflow'" header="Unpaid Test Reports">
        <dp-loading-spinner *ngIf="isLoading"></dp-loading-spinner>

        <div *ngIf="isAdmin" class="row mb-2">
            <div class="p-2 text-end fw-bold col-md-3">List unpaid test reports for: </div>

            <div class="col-md-4">
                <vp-input type="select"
                          class=""
                          name="backflowReportFor"
                          [options]="backflowReportForOptions"
                          [(ngModel)]="backflowReportFor" />
            </div>

            <div class="col-md-5">
                <button type="button" class="pb-1 btn btn-primary vp-section-button " (click)="getBackflowTests()">
                    Update List
                </button>
            </div>
        </div>

        @if (backflowItems.items && backflowItems.items.data && backflowItems.items.data.length > 0) {
            <div class="vp-checkout-table-scroll">
                <vp-table [columns]="backflowItems.columns!"
                          [data]="backflowItems.items.data"
                          [(query)]="backflowItems.query"
                          [canViewDetails]="true"
                          (viewDetails)="viewBackflowTest($event)"
                          [canEdit]="true"
                          (edit)="editBackflowTest($event)"
                          [canDelete]="true"
                          (delete)="deleteBackflowTest($event)" />
            </div>

            <div class="row my-2">
                <div class="col-md-2">
                    <button type="button" class="pb-1 btn btn-primary vp-section-button " (click)="recalculateBackflowSelectedTotal()">
                        Update
                    </button>
                </div>
                <div class="p-2 text-end col-md-9">List unpaid test reports for: {{ backflowSelectedFeeTotal | currency }}</div>
                <div class="col-md-1">

                </div>
            </div>
            <div class="row mb-3">
                <div class="text-end col-md-11 pe-2">Available account balance: </div>
            </div>
            <div class="row mb-3">
                <div class="text-end col-md-11 pe-2">Amount to be deducted from your available account balance: </div>
            </div>
            <div class="row mb-3 text-danger">
                <div class="text-end col-md-11 pe-2">Amount needed to be charged to a credit card to complete the submission: </div>
            </div>
        } @else {
            <div class="text-center text-muted py-5">
                No unpaid test reports found.
            </div>
        }
    </vp-section>

    <vp-section *ngIf="activeTab === 'csi'" header="Unpaid Inspection Reports">
        <dp-loading-spinner *ngIf="isLoading"></dp-loading-spinner>

        <div *ngIf="isAdmin" class="row mb-2">
            <div class="p-2 text-end fw-bold col-md-3">List unpaid inspection reports for: </div>

            <div class="col-md-4">
                <vp-input type="select"
                          class=""
                          name="csiReportFor"
                          [options]="csiReportForOptions"
                          [(ngModel)]="csiReportFor" />
            </div>

            <div class="col-md-5">
                <button type="button" class="pb-1 btn btn-primary vp-section-button " (click)="getCsiInspections()">
                    Update List
                </button>
            </div>
        </div>

        @if (csiItems.items && csiItems.items.data && csiItems.items.data.length > 0) {
            <div class="vp-checkout-table-scroll">
                <vp-table [columns]="csiItems.columns!"
                          [data]="csiItems.items.data"
                          [(query)]="csiItems.query"
                          [canViewDetails]="true"
                          (viewDetails)="viewCsiInspection($event)"
                          [canEdit]="true"
                          (edit)="editCsiInspection($event)"
                          [canDelete]="true"
                          (delete)="deleteCsiInspection($event)" />
            </div>

            <div class="row my-2">
                <div class="col-md-2">
                    <button type="button" class="pb-1 btn btn-primary vp-section-button " (click)="recalculateCsiSelectedTotal()">
                        Update
                    </button>
                </div>
                <div class="p-2 text-end col-md-9">List unpaid inspection reports for: {{ csiSelectedFeeTotal | currency }}</div>
                <div class="col-md-1">

                </div>
            </div>
            <div class="row mb-3">
                <div class="text-end col-md-11 pe-2">Available account balance: </div>
            </div>
            <div class="row mb-3">
                <div class="text-end col-md-11 pe-2">Amount to be deducted from your available account balance: </div>
            </div>
            <div class="row mb-3 text-danger">
                <div class="text-end col-md-11 pe-2">Amount needed to be charged to a credit card to complete the submission: </div>
            </div>
        } @else {
            <div class="text-center text-muted py-5">
                No unpaid inspection reports found.
            </div>
        }
    </vp-section>

    <vp-section *ngIf="activeTab === 'fogInspection'" header="Unpaid Inspection Reports">
        <dp-loading-spinner *ngIf="isLoading"></dp-loading-spinner>

        <div *ngIf="isAdmin" class="row mb-2">
            <div class="p-2 text-end fw-bold col-md-3">List unpaid inspection reports for: </div>

            <div class="col-md-4">
                <vp-input type="select"
                          class=""
                          name="fogInspectionReportFor"
                          [options]="fogInspectionReportForOptions"
                          [(ngModel)]="fogInspectionReportFor" />
            </div>

            <div class="col-md-5">
                <button type="button" class="pb-1 btn btn-primary vp-section-button " (click)="getFogInspections()">
                    Update List
                </button>
            </div>
        </div>

        @if (fogInspectionItems.items && fogInspectionItems.items.data && fogInspectionItems.items.data.length > 0) {
            <div class="vp-checkout-table-scroll">
                <vp-table [columns]="fogInspectionItems.columns!"
                          [data]="fogInspectionItems.items.data"
                          [(query)]="fogInspectionItems.query"
                          [canViewDetails]="true"
                          (viewDetails)="viewFogInspection($event)"
                          [canDelete]="true"
                          (delete)="deleteFogInspection($event)" />
            </div>

            <div class="row my-2">
                <div class="col-md-2">
                    <button type="button" class="pb-1 btn btn-primary vp-section-button " (click)="recalculateFogInspectionSelectedTotal()">
                        Update
                    </button>
                </div>
                <div class="p-2 text-end col-md-9">List unpaid inspection reports for: {{ fogInspectionSelectedFeeTotal | currency }}</div>
                <div class="col-md-1">

                </div>
            </div>
            <div class="row mb-3">
                <div class="text-end col-md-11 pe-2">Available account balance: </div>
            </div>
            <div class="row mb-3">
                <div class="text-end col-md-11 pe-2">Amount to be deducted from your available account balance: </div>
            </div>
            <div class="row mb-3 text-danger">
                <div class="text-end col-md-11 pe-2">Amount needed to be charged to a credit card to complete the submission: </div>
            </div>
        } @else {
            <div class="text-center text-muted py-5">
                No unpaid inspection reports found.
            </div>
        }
    </vp-section>

    <vp-section *ngIf="activeTab === 'fogTransport'" header="Unpaid Trip Tickets">
        <dp-loading-spinner *ngIf="isLoading"></dp-loading-spinner>

        <div *ngIf="isAdmin" class="row mb-2">
            <div class="p-2 text-end fw-bold col-md-3">List unpaid trip tickets for: </div>

            <div class="col-md-4">
                <vp-input type="select"
                          class=""
                          name="fogTransportReportFor"
                          [options]="fogTransportReportForOptions"
                          [(ngModel)]="fogTransportReportFor" />
            </div>

            <div class="col-md-5">
                <button type="button" class="pb-1 btn btn-primary vp-section-button " (click)="getFogTripTickets()">
                    Update List
                </button>
            </div>
        </div>

        @if (fogTransportItems.items && fogTransportItems.items.data && fogTransportItems.items.data.length > 0) {
            <div class="vp-checkout-table-scroll">
                <vp-table [columns]="fogTransportItems.columns!"
                          [data]="fogTransportItems.items.data"
                          [(query)]="fogTransportItems.query"
                          [canViewDetails]="true"
                          (viewDetails)="viewFogTripTicket($event)"
                          [canDelete]="true"
                          (delete)="deleteFogTripTicket($event)" />
            </div>

            <div class="row my-2">
                <div class="col-md-2">
                    <button type="button" class="pb-1 btn btn-primary vp-section-button " (click)="recalculateFogTransportSelectedTotal()">
                        Update
                    </button>
                </div>
                <div class="p-2 text-end col-md-9">List unpaid trip tickets for: {{ fogTransportSelectedFeeTotal | currency }}</div>
                <div class="col-md-1">

                </div>
            </div>
            <div class="row mb-3">
                <div class="text-end col-md-11 pe-2">Available account balance: </div>
            </div>
            <div class="row mb-3">
                <div class="text-end col-md-11 pe-2">Amount to be deducted from your available account balance: </div>
            </div>
            <div class="row mb-3 text-danger">
                <div class="text-end col-md-11 pe-2">Amount needed to be charged to a credit card to complete the submission: </div>
            </div>
        } @else {
            <div class="text-center text-muted py-5">
                No unpaid trip tickets found.
            </div>
        }
    </vp-section>
</div>
