
.form-check-input:disabled {
    opacity: 1;

    &:not(:checked) {
        background-color: #fff;
        border-color: #8a9199;
    }
}

.form-check-input:disabled ~ .form-check-label {
    opacity: 1;
    color: var(--bs-body-color, #212529);
}
