<div class="row mt-3" *ngIf="showRainSensor || showOSSF || showPermitNumber">
    <vp-section header="Additional Information">
        <form #additionalInfoForm="ngForm" dp-spinner-parent>
            <dp-loading-spinner *ngIf="saving"></dp-loading-spinner>

            <div class="row">
                <div class="col-md-4" *ngIf="showPermitNumber">
                    <vp-input name="permitNumber" label="Permit number" [maxLength]="50"
                              [form]="additionalInfoForm" [readonly]="!canModify"
                              [(ngModel)]="test.permitNumber" />
                </div>
                <div class="col-md-4" *ngIf="showOSSF">
                    <div class="form-check mt-4">
                        <input class="form-check-input readonly-checkbox" type="checkbox" id="ossf" name="ossf"
                               [disabled]="!canModify" [(ngModel)]="test.ossf" />
                        <label class="form-check-label" for="ossf">Is there an On-Site Sewage Facility?</label>
                    </div>
                </div>
            </div>

            <div class="row mt-2" *ngIf="showRainSensor">
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input readonly-checkbox" type="checkbox" id="rainFreezeSensorInstalled" name="rainFreezeSensorInstalled"
                               [disabled]="!canModify" [(ngModel)]="test.rainFreezeSensorInstalled" />
                        <label class="form-check-label" for="rainFreezeSensorInstalled">Rain/Freeze Sensors Installed</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input readonly-checkbox" type="checkbox" id="rainFreezeSensorWorkingProperly" name="rainFreezeSensorWorkingProperly"
                               [disabled]="!canModify" [(ngModel)]="test.rainFreezeSensorWorkingProperly" />
                        <label class="form-check-label" for="rainFreezeSensorWorkingProperly">Sensors Working Properly</label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-2">
                <button type="button" class="btn btn-primary vp-section-button" *ngIf="canModify"
                        [disabled]="saving" (click)="save.emit(additionalInfoForm)">
                    Update
                </button>
            </div>
        </form>
    </vp-section>
</div>
