<div class="d-flex justify-content-center align-items-center mb-3">
    <h2>Edit Water Supplier Account Information</h2>
</div>

<div>
    <div dp-spinner-parent>
        <form #supplierForm="ngForm" (ngSubmit)="save(supplierForm)">

            <!-- Main account information -->
            <vp-section header="Main account information" class="mb-3">
                <div class="row">
                    <div class="col-md-6">

                        <div class="mb-3">
                            <vp-input [(ngModel)]="supplier.name"
                                      name="name"
                                      label="Water Supplier Name"
                                      [required]="true"
                                      [form]="supplierForm" />
                        </div>

                        <div class="mb-3">
                            <vp-input [(ngModel)]="supplier.contactName"
                                      name="contactName"
                                      label="Contact Name"
                                      [form]="supplierForm" />
                        </div>

                        <div class="mb-3">
                            <vp-input [(ngModel)]="supplier.address"
                                      name="address"
                                      label="Address"
                                      [form]="supplierForm" />
                        </div>

                        <div class="mb-3">
                            <vp-input [(ngModel)]="supplier.city"
                                      name="city"
                                      label="City"
                                      [form]="supplierForm" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">State</label>

                            <select class="form-select"
                                    [(ngModel)]="supplier.stateId"
                                    name="state">

                                <option [ngValue]="null">Select state</option>

                                <option *ngFor="let state of states"
                                        [ngValue]="state.id">
                                    {{ state.name }}
                                </option>

                            </select>
                        </div>

                        <div class="mb-3">
                            <vp-input [(ngModel)]="supplier.zipCode"
                                      name="zipCode"
                                      label="Zip Code"
                                      [form]="supplierForm" />
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="mb-3">
                            <vp-input [(ngModel)]="supplier.domain"
                                      [required]="true"
                                      name="domain"
                                      label="Domain"
                                      [form]="supplierForm" />
                        </div>

                        <div class="mb-3">
                            <vp-input [(ngModel)]="supplier.pwsId"
                                      name="pwsId"
                                      label="PWS ID"
                                      [form]="supplierForm" />
                        </div>

                        <div class="mb-3">
                            <vp-input [(ngModel)]="supplier.phoneNumber"
                                      name="phoneNumber"
                                      label="Phone Number"
                                      [form]="supplierForm" />
                        </div>

                        <div class="mb-3">
                            <vp-input [(ngModel)]="supplier.faxNumber"
                                      name="faxNumber"
                                      label="Fax Number"
                                      [form]="supplierForm" />
                        </div>

                        <div class="mb-3">
                            <vp-input [(ngModel)]="supplier.emailAddress"
                                      name="emailAddress"
                                      label="Email Address"
                                      type="email"
                                      [form]="supplierForm" />
                        </div>

                    </div>
                </div>
            </vp-section>

            <div class="row mt-3 mb-3">
                <div class="col-md-6">
                    <!-- Letter Return Address -->
                    <vp-section header="Letter Return Address Information">
                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterCompanyName"
                                          name="lrCompanyName"
                                          label="Company Name"
                                          [form]="supplierForm" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterContactName"
                                          name="lrContactName"
                                          label="Contact Name"
                                          [form]="supplierForm" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterAddress"
                                          name="lrAddress"
                                          label="Address"
                                          [form]="supplierForm" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterCity"
                                          name="lrCity"
                                          label="City"
                                          [form]="supplierForm" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">State</label>

                                <select class="form-select"
                                        [(ngModel)]="supplier.letterStateId"
                                        name="lrState">

                                    <option [ngValue]="null">Select state</option>

                                    <option *ngFor="let state of states"
                                            [ngValue]="state.id">
                                        {{ state.name }}
                                    </option>

                                </select>
                            </div>

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterZipCode"
                                          name="lrZipCode"
                                          label="Zip Code"
                                          [form]="supplierForm" />
                            </div>

                        </div>
                    </vp-section>
                </div>

                <div class="col-md-6">
                    <!-- Letter Contact Information -->
                    <vp-section header="Letter Contact Information">
                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterContactCompanyName"
                                          name="lcCompanyName"
                                          label="Company Name"
                                          [form]="supplierForm" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterContactContactName"
                                          name="lcContactName"
                                          label="Contact Name"
                                          [form]="supplierForm" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterContactAddress"
                                          name="lcAddress"
                                          label="Address"
                                          [form]="supplierForm" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterContactCity"
                                          name="lcCity"
                                          label="City"
                                          [form]="supplierForm" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">State</label>

                                <select class="form-select"
                                        [(ngModel)]="supplier.letterContactStateId"
                                        name="lcState">

                                    <option [ngValue]="null">Select state</option>

                                    <option *ngFor="let state of states"
                                            [ngValue]="state.id">
                                        {{ state.name }}
                                    </option>

                                </select>
                            </div>

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterContactZipCode"
                                          name="lcZipCode"
                                          label="Zip Code"
                                          [form]="supplierForm" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterContactPhoneNumber"
                                          name="lcPhone"
                                          label="Phone Number"
                                          [form]="supplierForm" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterContactFaxNumber"
                                          name="lcFax"
                                          label="Fax Number"
                                          [form]="supplierForm" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <vp-input [(ngModel)]="supplier.letterContactEmailAddress"
                                          name="lcEmail"
                                          label="Email Address"
                                          type="email"
                                          [form]="supplierForm" />
                            </div>

                        </div>
                    </vp-section>
                </div>
            </div>

            <div class="mt-3">
                <vp-validation-summary [form]="supplierForm"
                                       [validationErrors]="validationErrors" />

                <div class="d-flex justify-content-center">
                    <button type="submit"
                            class="btn btn-primary vp-section-button">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
