<ng-template #typeCell let-license="rowData">
    {{ getProfessionalTypeLabel(license.professionalType) }}
</ng-template>

<ng-template #dateCell let-license="rowData">
    <div class="border border-secondary d-inline-block px-2 py-1 rounded-3"
         [class.text-bg-primary]="!license.expirationDate"
         [class.text-bg-success]="license.expirationDate && license.expirationType == expirationType.Valid"
         [class.text-bg-warning]="license.expirationDate && license.expirationType == expirationType.AboutToExpire"
         [class.text-bg-danger]="license.expirationDate && license.expirationType == expirationType.Expired"
         [attr.aria-label]="!license.expirationDate ? 'Validating' : license.expirationType == expirationType.Valid ? 'Valid' : license.expirationType == expirationType.AboutToExpire ? 'About to Expire' : 'Expired'">
        {{ license.expirationDate ? (license.expirationDate | date) : 'Validating...' }}
    </div>
</ng-template>

<vp-section header="Licenses">
    <div dp-spinner-parent>
        <dp-loading-spinner *ngIf="table.isLoading" />

        <vp-table *ngIf="table.items"
                  [columns]="table.columns!"
                  [data]="table.items.data"
                  [canAdd]="true"
                  (add)="add()"
                  [canEdit]="true"
                  (edit)="edit($event)"
                  [canDelete]="true"
                  (delete)="delete($event)"
                  [(pageInfo)]="table.items.pageInfo"
                  (pageInfoChange)="getLicenses()"
                  [(query)]="table.query"
                  (queryChange)="getLicenses()"
                  (queryReset)="getLicenses()"
                  [freeTextSearch]="table.freeTextSearch" />
    </div>
</vp-section>