<vp-section header="Backflow Information">
    <div class="text-center mb-3">
        The backflow prevention assembly detailed below has been tested and maintained as required by
        commission regulations and is certified to be operating within acceptable parameters.
    </div>

    <div class="mb-2"><strong>Backflow Method:</strong>&nbsp;&nbsp;{{ getDeviceTypeLabel() }}</div>

    <div class="row mb-2">
        <div class="col-lg-6"><strong>Main Assembly Manufacturer:</strong>&nbsp;&nbsp;{{ test.manufacturer }}</div>
        <div class="col-lg-6">
            <span class="me-3"><strong>Model:</strong>&nbsp;{{ test.model }}</span>
            <span class="me-3"><strong>Size:</strong>&nbsp;{{ test.size }}</span>
            <span><strong>Serial #:</strong>&nbsp;{{ test.serialNumber }}</span>
        </div>
    </div>

    <div class="row mb-3" *ngIf="test.manufacturer2 || test.model2 || test.serialNumber2 || test.size2">
        <div class="col-lg-6"><strong>Bypass Assembly Manufacturer:</strong>&nbsp;&nbsp;{{ test.manufacturer2 }}</div>
        <div class="col-lg-6">
            <span class="me-3"><strong>Model:</strong>&nbsp;{{ test.model2 }}</span>
            <span class="me-3"><strong>Size:</strong>&nbsp;{{ test.size2 }}</span>
            <span><strong>Serial #:</strong>&nbsp;{{ test.serialNumber2 }}</span>
        </div>
    </div>

    <div class="mb-2"><strong>Location:</strong>&nbsp;&nbsp;{{ test.locationDescription }}</div>
    <div class="mb-2">
        <strong>Hazard Type ****:</strong>&nbsp;&nbsp;{{ test.hazardType }}<span *ngIf="test.hazardType === 'Other' && test.hazardTypeOtherDescription"> - {{ test.hazardTypeOtherDescription }}</span>
    </div>
</vp-section>
