<h1 class="text-center h2">FOG Inspection</h1>

<dp-loading-spinner *ngIf="isLoading"></dp-loading-spinner>

<div *ngIf="!isLoading && inspection">

    <!-- Water Supplier -->
    <vp-section header="Water Supplier" class="d-block">
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-sm">
                    <tr>
                        <td class="label">Water Supplier:</td>
                        <td class="w-100">{{ inspection.waterSupplier?.name }}</td>
                    </tr>
                    <tr>
                        <td class="label">Address:</td>
                        <td>{{ inspection.waterSupplier?.address }}</td>
                    </tr>
                    <tr>
                        <td class="label"></td>
                        <td>
                            {{ inspection.waterSupplier?.city }}<span *ngIf="inspection.waterSupplier?.city && inspection.waterSupplier?.state?.name">, </span>{{ inspection.waterSupplier?.state?.name }} {{ inspection.waterSupplier?.zipCode }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6">
                <table class="table table-sm">
                    <tr>
                        <td class="label">PWS ID:</td>
                        <td class="w-100">{{ inspection.waterSupplier?.pwsId }}</td>
                    </tr>
                    <tr>
                        <td class="label">Contact Name:</td>
                        <td>{{ inspection.waterSupplier?.contactName }}</td>
                    </tr>
                    <tr>
                        <td class="label">Phone Number:</td>
                        <td>{{ inspection.waterSupplier?.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <td class="label">Email Address:</td>
                        <td>{{ inspection.waterSupplier?.emailAddress }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </vp-section>

    <!-- CSI Inspector -->
    <vp-section header="CSI Inspector" class="mt-3 d-block">
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-sm">
                    <tr>
                        <td class="label">Company Name:</td>
                        <td class="w-100">{{ inspection.inspectorCompanyName }}</td>
                    </tr>
                    <tr>
                        <td class="label">Title of Inspector:</td>
                        <td>{{ inspection.inspectorJobTitle }}</td>
                    </tr>
                    <tr>
                        <td class="label">Inspector Name:</td>
                        <td>{{ inspection.inspectorContactName }}</td>
                    </tr>
                    <tr>
                        <td class="label">Address:</td>
                        <td>{{ inspection.inspectorAddress }} {{ inspection.inspectorCity }} {{ inspection.inspectorState }} {{ inspection.inspectorZip }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6">
                <table class="table table-sm">
                    <tr>
                        <td class="label">Phone Number:</td>
                        <td class="w-100">{{ inspection.inspectorWorkNumber }}</td>
                    </tr>
                    <tr>
                        <td class="label">Email Address:</td>
                        <td>{{ inspection.inspector?.emailAddress }}</td>
                    </tr>
                    <tr>
                        <td class="label">License Number:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label">License Type:</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </vp-section>

    <!-- Location / Property + Contact / Mailing -->
    <div class="row mt-3">
        <div class="col-md-12 col-lg-6">
            <vp-section header="Location / Property Information" class="h-100 d-block">
                <table class="table table-sm">
                    <tr>
                        <td class="label">Property Type:</td>
                        <td class="w-100">{{ inspection.propertyType === PropertyType.Residential ? 'Residential' : 'Commercial' }}</td>
                    </tr>
                    <tr>
                        <td class="label">Business Name:</td>
                        <td>{{ inspection.propertyBusinessName }}</td>
                    </tr>
                    <tr>
                        <td class="label">Property Address:</td>
                        <td>
                            {{ inspection.propertyStreetNumber }} {{ inspection.propertyStreetName }}<span *ngIf="inspection.propertyNumber"> #{{ inspection.propertyNumber }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"></td>
                        <td>
                            {{ inspection.propertyCity }}<span *ngIf="inspection.propertyCity && inspection.propertyState?.code">, </span>{{ inspection.propertyState?.code }} {{ inspection.propertyZip }}
                        </td>
                    </tr>
                </table>
            </vp-section>
        </div>
        <div class="col-md-12 col-lg-6 mt-3 mt-lg-0">
            <vp-section header="Contact / Mailing Information" class="h-100 d-block">
                <table class="table table-sm">
                    <tr>
                        <td class="label">Company Name:</td>
                        <td class="w-100">{{ inspection.mailingCompanyName }}</td>
                    </tr>
                    <tr>
                        <td class="label">Contact Name:</td>
                        <td>{{ inspection.mailingContactName }}</td>
                    </tr>
                    <tr>
                        <td class="label">Mailing Address:</td>
                        <td>
                            {{ inspection.mailingStreetNumber }} {{ inspection.mailingStreetName }}<span *ngIf="inspection.mailingNumber"> #{{ inspection.mailingNumber }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"></td>
                        <td>
                            {{ inspection.mailingCity }}<span *ngIf="inspection.mailingCity && inspection.mailingState?.code">, </span>{{ inspection.mailingState?.code }} {{ inspection.mailingZip }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Phone Number:</td>
                        <td>{{ inspection.mailingPhoneNumber }}</td>
                    </tr>
                    <tr>
                        <td class="label">Email Address:</td>
                        <td>{{ inspection.mailingEmailAddress }}</td>
                    </tr>
                </table>
            </vp-section>
        </div>
    </div>

    <!-- Trap Information -->
    <vp-section header="Trap Information" class="mt-3 d-block">
        <table class="table table-sm table-borderless mb-0">
            <tr>
                <td class="label"><b>This Waste was Removed From:</b></td>
                <td class="w-100">{{ inspection.interceptorType }} {{ inspection.interceptorOtherDescription }}</td>
            </tr>
            <tr>
                <td class="label"><b>Waste Trap or Tank Capacity:</b></td>
                <td>{{ inspection.interceptorCapacity }} Gallons</td>
            </tr>
            <tr>
                <td class="label"><b>Location Description:</b></td>
                <td>{{ inspection.interceptorLocationDescription }}</td>
            </tr>
        </table>
    </vp-section>

    <!-- Inspection Results -->
    <vp-section header="Inspection Results" class="mt-3 d-block">

        <div class="row mb-2">
            <div class="col-lg-4">
                <table class="table table-sm mb-0">
                    <tr>
                        <td><b>Inspection Date:</b></td>
                        <td>{{ inspection.inspectionDate | date:'M/d/yyyy h:mm a' }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-6">
                <table class="table table-sm mb-0">
                    <tr>
                        <td width="50%"><b>Reason for Inspection</b></td>
                        <td>{{ getReasonLabel(inspection.reasonForInspection) }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6">
                <table class="table table-sm mb-0">
                    <tr>
                        <td width="50%"><b>Facility Type</b></td>
                        <td>{{ getFacilityTypeLabel(inspection.facilityType) }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-6">
                <table class="table table-sm mb-0">
                    <tr>
                        <td width="50%">Is it properly maintained?</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.maintained === true" />
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.maintained === false" />
                                <label class="form-check-label">No</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Is it accessible?</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.accessible === true" />
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.accessible === false" />
                                <label class="form-check-label">No</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Is there evidence of past overflow?</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.pastOverflow === true" />
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.pastOverflow === false" />
                                <label class="form-check-label">No</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6">
                <p class="mb-1"><b>Sampling Point:</b></p>
                <table class="table table-sm mb-0">
                    <tr>
                        <td width="50%">Is it accessible?</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.samplingPointAccessible === true" />
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.samplingPointAccessible === false" />
                                <label class="form-check-label">No</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Does it need to be cleaned?</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.samplingPointClean === true" />
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.samplingPointClean === false" />
                                <label class="form-check-label">No</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Sampled From:</td>
                        <td>{{ inspection.sampledFrom }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-6">
                <p class="mb-1"><b>Inlet Chamber:</b></p>
                <table class="table table-sm mb-0">
                    <tr>
                        <td width="50%">Is the inlet tee visible?</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.inletTeeVisible === true" />
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.inletTeeVisible === false" />
                                <label class="form-check-label">No</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Is the inlet tee intact?</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.inletTeeIntact === true" />
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.inletTeeIntact === false" />
                                <label class="form-check-label">No</label>
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                        <td>Wetted Height in Inches:</td>
                        <td>{{ inspection.inletChamberWettingHeight }}</td>
                    </tr>
                    <tr>
                        <td>Grease Blanket in Inches:</td>
                        <td>{{ inspection.inletChamberGreaseBlanket }}</td>
                    </tr>
                    <tr>
                        <td>Sediments in Inches:</td>
                        <td>{{ inspection.inletChamberSediments }}</td>
                    </tr>
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                        <td>Grease Layer %:</td>
                        <td>{{ getPercent(inspection.inletChamberGreaseBlanket, inspection.inletChamberWettingHeight) }}</td>
                    </tr>
                    <tr>
                        <td>Sediment Layer %:</td>
                        <td>{{ getPercent(inspection.inletChamberSediments, inspection.inletChamberWettingHeight) }}</td>
                    </tr>
                    <tr>
                        <td>Total Inlet Chamber %:</td>
                        <td>{{ inspection.inletTotalCapacityPercent }}%</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6">
                <p class="mb-1"><b>Outlet Chamber:</b></p>
                <table class="table table-sm mb-0">
                    <tr>
                        <td width="50%">Is the outfall tee visible?</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.outletTeeVisible === true" />
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.outletTeeVisible === false" />
                                <label class="form-check-label">No</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Is the outfall tee intact?</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.outletTeeIntact === true" />
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" disabled [checked]="inspection.outletTeeIntact === false" />
                                <label class="form-check-label">No</label>
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                        <td>Wetted Height in Inches:</td>
                        <td>{{ inspection.outletChamberWettingHeight }}</td>
                    </tr>
                    <tr>
                        <td>Grease Blanket in Inches:</td>
                        <td>{{ inspection.outletChamberGreaseBlanket }}</td>
                    </tr>
                    <tr>
                        <td>Sediments in Inches:</td>
                        <td>{{ inspection.outletChamberSediments }}</td>
                    </tr>
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                        <td>Grease Layer %:</td>
                        <td>{{ getPercent(inspection.outletChamberGreaseBlanket, inspection.outletChamberWettingHeight) }}</td>
                    </tr>
                    <tr>
                        <td>Sediment Layer %:</td>
                        <td>{{ getPercent(inspection.outletChamberSediments, inspection.outletChamberWettingHeight) }}</td>
                    </tr>
                    <tr>
                        <td>Total Outlet Chamber %:</td>
                        <td>{{ inspection.outletTotalCapacityPercent }}%</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-lg-6">
                <table class="table table-sm mb-0">
                    <tr>
                        <td width="50%"><b>Total Capacity %:</b></td>
                        <td>{{ inspection.totalCapacityPercent }}%</td>
                    </tr>
                    <tr>
                        <td><b>Inspection Result:</b></td>
                        <td>{{ inspection.inspectionResult === FogInspectionResult.Passed ? 'Passed' : 'Failed' }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6"></div>
        </div>

    </vp-section>

    <!-- Signature -->
    <vp-section *ngIf="inspection.signatureContactName" header="Signature" class="mt-3 d-block">
        <div class="text-center">Contact Name:&nbsp;&nbsp;{{ inspection.signatureContactName }}</div>
    </vp-section>

    <!-- Remarks -->
    <vp-section header="Remarks" class="mt-3 d-block">
        <p class="mb-0">{{ inspection.comments }}</p>
    </vp-section>

</div>
