
<vp-section header="Licensed Personnel Sub Accounts">
    <vp-section-actions>
        <button *ngIf="canManage"
                type="button"
                class="btn btn-primary"
                (click)="addUser()">
            <i class="fa-solid fa-circle-plus me-1"></i>Add New
        </button>
    </vp-section-actions>

    <div dp-spinner-parent>
        <dp-loading-spinner *ngIf="table.isLoading"></dp-loading-spinner>

        <vp-table *ngIf="table.items"
                  [columns]="table.columns!"
                  [data]="table.items.data"
                  [(pageInfo)]="table.items.pageInfo"
                  (pageInfoChange)="loadSubAccounts()"
                  [(query)]="table.query"
                  (queryChange)="loadSubAccounts()"
                  (queryReset)="loadSubAccounts()"
                  [showActionLabels]="false"
                  [canEdit]="canManage"
                  (edit)="editUser($event)" />
    </div>
</vp-section>
