<dp-loading-spinner *ngIf="isLoading" [message]="loadingMessage" />

<h1 class="text-center h2">
    Tell Us About You
</h1>

<vp-section header="User Information">
    <form #form="ngForm" (ngSubmit)="save(form)">
        <div class="mb-3">
            <vp-input name="contactName"
                      label="Your Name"
                      [maxLength]="255"
                      [required]="true"
                      [form]="form"
                      [(ngModel)]="user.contactName" />
        </div>

        <div class="mb-3">
            <vp-input name="jobTitle"
                      label="Job Title"
                      [maxLength]="150"
                      [form]="form"
                      [(ngModel)]="user.jobTitle" />
        </div>

        <div class="mt-3">
            <vp-validation-summary [form]="form"
                                   [validationErrors]="validationErrors" />

            <div class="d-flex justify-content-between">
                <a class="btn btn-primary vp-section-button"
                   [routerLink]="['../company']">
                    <i class="fa-solid fa-angle-left"></i>
                    Back
                </a>

                <button type="submit"
                        class="btn btn-primary vp-section-button">
                    Next
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
        </div>
    </form>
</vp-section>