<dp-loading-spinner [hidden]="!isLoading && !isSaving"></dp-loading-spinner>

<form #detailsForm="ngForm" (ngSubmit)="save()" *ngIf="!isLoading">
    <vp-section [header]="waterSupplierHeader">
        <div class="row">
            <div class="col-md-6">
                <dl class="row mb-0">
                    <dt class="col-5 fw-normal">Name:</dt>
                    <dd class="col-7 mb-1">{{ inspection.waterSupplier?.name }}</dd>
                    <dt class="col-5 fw-normal">Contact Name:</dt>
                    <dd class="col-7 mb-1">{{ inspection.waterSupplier?.contactName }}</dd>
                    <dt class="col-5 fw-normal">Address:</dt>
                    <dd class="col-7 mb-1">
                        <div>{{ inspection.waterSupplier?.address }}</div>
                        <div *ngIf="waterSupplierCityStateZip">{{ waterSupplierCityStateZip }}</div>
                    </dd>
                </dl>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <dl class="row mb-0">
                    <dt class="col-5 fw-normal">PWS ID:</dt>
                    <dd class="col-7 mb-1">{{ inspection.waterSupplier?.pwsId }}</dd>
                    <dt class="col-5 fw-normal">Phone #:</dt>
                    <dd class="col-7 mb-1">{{ inspection.waterSupplier?.phoneNumber }}</dd>
                    <dt class="col-5 fw-normal">Email Address:</dt>
                    <dd class="col-7 mb-1 text-break">{{ inspection.waterSupplier?.emailAddress }}</dd>
                </dl>
            </div>
        </div>
    </vp-section>

    <vp-section [header]="inspectorHeader" class="mt-3 d-block">
        <div class="row">
            <div class="col-md-6">
                <dl class="row mb-0">
                    <dt class="col-5 fw-normal">Company Name:</dt>
                    <dd class="col-7 mb-1">{{ inspection.inspectorCompanyName }}</dd>
                    <dt class="col-5 fw-normal">Title:</dt>
                    <dd class="col-7 mb-1">{{ inspection.inspectorJobTitle }}</dd>
                    <dt class="col-5 fw-normal">Contact Name:</dt>
                    <dd class="col-7 mb-1">{{ inspection.inspectorContactName }}</dd>
                    <dt class="col-5 fw-normal">Address:</dt>
                    <dd class="col-7 mb-1">
                        <div>{{ inspection.inspectorAddress }}</div>
                        <div *ngIf="inspectorCityStateZip">{{ inspectorCityStateZip }}</div>
                    </dd>
                </dl>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <dl class="row mb-0">
                    <dt class="col-5 fw-normal">Phone Number:</dt>
                    <dd class="col-7 mb-1">{{ inspection.inspectorWorkNumber }}</dd>
                    <dt class="col-5 fw-normal">Email Address:</dt>
                    <dd class="col-7 mb-1 text-break">{{ inspection.inspector?.emailAddress }}</dd>
                </dl>
            </div>
        </div>
    </vp-section>

    <div class="row mt-3">
        <div class="col-md-6">
            <vp-fog-inspection-property [inspection]="inspection"
                                        [form]="detailsForm"
                                        [stateOptions]="stateOptions"
                                        (openSite)="openSite()" />
        </div>

        <div class="col-md-6 mt-3 mt-md-0">
            <vp-fog-inspection-mailing [inspection]="inspection"
                                       [form]="detailsForm"
                                       [stateOptions]="stateOptions"
                                       (openSite)="openSite()" />
        </div>
    </div>

    <div class="mt-3">
        <vp-fog-inspection-trap [inspection]="inspection" [form]="detailsForm" />
    </div>

    <ul class="nav nav-pills vp-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link" role="button" [class.active]="selectedTab === 'results'"
               (click)="selectedTab = 'results'">
                Inspection Results
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" role="button" [class.active]="selectedTab === 'images'"
               (click)="selectedTab = 'images'">
                Images
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" role="button" [class.active]="selectedTab === 'logs'" (click)="selectedTab = 'logs'">
                {{ recordLogTabTitle }}
            </a>
        </li>
    </ul>

    <div class="mt-3" *ngIf="selectedTab === 'results'">
        <vp-fog-inspection-results [inspection]="inspection" [form]="detailsForm" [idPrefix]="idPrefix" />
    </div>

    <div class="mt-3" *ngIf="selectedTab === 'images'">
        <vp-fog-inspection-images [inspection]="inspection" />
    </div>

    <vp-section [header]="recordLogTabTitle" class="mt-3 d-block" *ngIf="selectedTab === 'logs'">
        <vp-record-log-list [logs]="recordLogs" [isLoading]="isLoadingRecordLogs" [recordLabel]="'inspection'" />
    </vp-section>

    <vp-validation-summary [form]="detailsForm" [validationErrors]="validationErrors" class="d-block mt-3" />

    <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn btn-primary vp-section-button" [disabled]="isSaving">
            Save
        </button>
    </div>
</form>