<h1 class="text-center h2">
    Property Record Search
</h1>

<div [hidden]="showResults">

    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">

        <vp-section header="General Search Criteria">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <vp-input type="select"
                                  label="Water Supplier"
                                  [(ngModel)]="selectedWaterSupplierId"
                                  name="waterSupplierId"
                                  [options]="waterSupplierOptions"
                                  [required]="true"
                                  [form]="searchForm" />
                    </div>
                </div>
            </div>
        </vp-section>

        <vp-filter-panel (filterChange)="onFilterChange($event)" class="mt-3">
            <vp-section header="Search Criteria">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="accountNumber"
                                                   label="Account number"
                                                   [form]="searchForm" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="needsCsiInspection"
                                                   label="Needs CSI inspection"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="propertyType"
                                                   label="Property type"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="propertyTypes" />
                        </div>
                    </div>
                </div>
            </vp-section>

            <div class="row mt-3">
                <div class="col-md-6">
                    <vp-section header="Location / Property Criteria">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <vp-filter-panel-field fieldName="businessName"
                                                       label="Business name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-4 mb-3">
                                <vp-filter-panel-field fieldName="streetNumber"
                                                       label="Street #"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-8 mb-3">
                                <vp-filter-panel-field fieldName="streetName"
                                                       label="Street name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-12">
                                <vp-filter-panel-field fieldName="zipCode"
                                                       label="ZIP"
                                                       [form]="searchForm" />
                            </div>
                        </div>
                    </vp-section>
                </div>

                <div class="col-md-6 mt-3 mt-md-0">
                    <vp-section header="Contact / Mailing Criteria">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <vp-filter-panel-field fieldName="mailingCompanyName"
                                                       label="Company name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-12 mb-3">
                                <vp-filter-panel-field fieldName="mailingContactName"
                                                       label="Contact name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-4 mb-3">
                                <vp-filter-panel-field fieldName="mailingStreetNumber"
                                                       label="Street #"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-8 mb-3">
                                <vp-filter-panel-field fieldName="mailingStreetName"
                                                       label="Street name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-12">
                                <vp-filter-panel-field fieldName="mailingZipCode"
                                                       label="ZIP"
                                                       [form]="searchForm" />
                            </div>
                        </div>
                    </vp-section>
                </div>
            </div>
        </vp-filter-panel>

        <div class="mt-3">
            <vp-validation-summary [form]="searchForm" />

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary vp-section-button">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>

<dp-loading-spinner *ngIf="table.isLoading"></dp-loading-spinner>

<div *ngIf="showResults">

    <div class="d-flex justify-content-end mb-3">
        <button type="button"
                class="btn btn-primary vp-section-button"
                (click)="showResults = false;">
            Search Again
        </button>
    </div>

    <vp-section header="Property Record Search">
        <vp-table *ngIf="table.items"
                  [columns]="table.columns!"
                  [data]="table.items.data"
                  [(pageInfo)]="table.items.pageInfo"
                  (pageInfoChange)="getSites()"
                  [(query)]="table.query"
                  (queryChange)="getSites()"
                  (queryReset)="getSites()"
                  [freeTextSearch]="table.freeTextSearch" />
    </vp-section>
</div>
