/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

.bg-primary {
    background-color: #008fd4 !important;
}

.bg-info {
    background-color: #05bfdf !important;
}

.text-primary {
    color: #008fd4 !important;
}

.btn-primary {
    background-color: #008fd4 !important;
    border-color: #ccc;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #3282b8 !important;
    border-color: #dde3eb !important;
}

.dp-modal-header:not(.dp-error):not(.dp-success):not(.dp-warning) {
    background-color: #05bfdf !important;
    color: #ffffff;
}

.dp-modal-header button {
    color: #ffffff !important;
}

.vp-section-button {
    min-width: 100%;
}

@media screen and (min-width: 768px) {
    .vp-section-button {
        min-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .vp-section-button {
        min-width: 25%;
    }
}

.nav-link {
    color: #fff;
    padding: 0.2rem;
    border: 1px solid transparent;
}

.nav-link:hover,
.nav-link:focus {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.navbar .dropdown-menu {
    font-size: 0.9rem;
}

.navbar .dropdown-menu i {
    color: #008fd4;
    width: 20px;
    text-align: center;
}

.dropdown-item {
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background: rgba(0, 143, 212, 0.1);
    border-color: rgba(0, 143, 212, 0.5);
    color: black;
}

.dropdown-divider {
    margin: 0.5rem 0;
    border-top: 1px solid #dee2e6;
}

.navbar .small {
    font-size: 0.75rem;
}