<vp-section header="Water Supplier">
    <div class="row">
        <div class="col-md-6">
            <dl class="row mb-0">
                <dt class="col-sm-5">Water supplier:</dt>
                <dd class="col-sm-7">{{ test.waterSupplier?.name }}</dd>
                <dt class="col-sm-5">Address:</dt>
                <dd class="col-sm-7">
                    <div>{{ test.waterSupplier?.address }}</div>
                    <div *ngIf="test.waterSupplier?.city || test.waterSupplier?.state?.name || test.waterSupplier?.zipCode">
                        {{ test.waterSupplier?.city }}<span *ngIf="test.waterSupplier?.city && (test.waterSupplier?.state?.name || test.waterSupplier?.zipCode)">, </span>{{ test.waterSupplier?.state?.name }} {{ test.waterSupplier?.zipCode }}
                    </div>
                </dd>
                <dt class="col-sm-5">PWS ID:</dt>
                <dd class="col-sm-7">{{ test.waterSupplier?.pwsId }}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="row mb-0">
                <dt class="col-sm-5">Contact name:</dt>
                <dd class="col-sm-7">{{ test.waterSupplier?.contactName }}</dd>
                <dt class="col-sm-5">Phone number:</dt>
                <dd class="col-sm-7">{{ test.waterSupplier?.phoneNumber }}</dd>
                <dt class="col-sm-5">Email address:</dt>
                <dd class="col-sm-7">{{ test.waterSupplier?.emailAddress }}</dd>
            </dl>
        </div>
    </div>
</vp-section>
