@using RazorLight
@using Envirotrax.Auth.Templates.Emails
@inherits TemplatePage<ForgotPasswordVm>

<div>
    <p>Please click the link below to reset your email:</p>

    <a href="@Model.CallbackUrl">@Model.CallbackUrl</a>
</div>