@using RazorLight
@using Envirotrax.Auth.Templates.Emails
@inherits TemplatePage<ForgotPasswordVm>

@{
    Layout = "Templates.Emails._EmailLayout";
}

<div>
    <p style="margin-top: 0;">Please click the link below to reset your password:</p>

    <a style="word-wrap: break-word;" href="@Model.CallbackUrl">@Model.CallbackUrl</a>

    <p>
        If you haven't requested passowrd reset link, please contact us as soon as possible to ensure your account is
        safe.
    </p>
</div>