<div class="align-items-center d-flex flex-column flex-fill justify-content-center">
    <div class="border p-4 rounded-2 text-center shadow-sm">
        <h1 class="h2">
            Unauthorized
        </h1>

        <img class="img-fluid my-4" src="images/logo.png" alt="Logo" style="max-width: 250px;" />

        <p>
            We are sorry. It seems like you are not authorized to access this page.
        </p>

        <p>
            If you think this is a mistake, please contact your system administrator.
        </p>

        <a class="btn btn-primary w-75 mt-3" href="/">
            Navigate to Home Page
        </a>
    </div>
</div>