<ng-template #propertyTypeTemplate let-site="rowData">
    {{ site?.propertyType === PropertyType.Residential ? 'Residential' : 'Commercial' }}
</ng-template>

<ng-template #propertyInfoTemplate let-site="rowData">
    <div *ngIf="site?.businessName">{{ site.businessName }}</div>
    <div>
        {{ site?.streetNumber }} {{ site?.streetName }}<span *ngIf="site?.propertyNumber"> #{{ site.propertyNumber }}</span>
    </div>
    <div>
        {{ site?.city }}<span *ngIf="site?.city && site?.state?.name">, </span>{{ site?.state?.name }} {{ site?.zipCode }}
    </div>
</ng-template>

<ng-template #contactInfoTemplate let-site="rowData">
    <div *ngIf="site?.mailingCompanyName">{{ site.mailingCompanyName }}</div>
    <div *ngIf="site?.mailingContactName">{{ site.mailingContactName }}</div>
    <div>
        {{ site?.mailingStreetNumber }} {{ site?.mailingStreetName }}<span *ngIf="site?.mailingNumber"> #{{ site.mailingNumber }}</span>
    </div>
    <div>
        {{ site?.mailingCity }}<span *ngIf="site?.mailingCity && site?.mailingState?.name">, </span>{{ site?.mailingState?.name }} {{ site?.mailingZipCode }}
    </div>
</ng-template>

<h1 class="text-center h2">
    CSI Submission
</h1>

<div [hidden]="showResults">

    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">

        <div class="row">                    
            <div class="mb-3">
                <vp-section header="Property Search Instructions">

                    <div class="content">
                            <p>
                                Before you begin entering the results of your inspection, you must search to see if the property record is on file. You may search for an existing property by either the account number or the property address.
                                <br />
                                <br />
                                If searching by the address, enter the property street number, street name, and suite/bldg/room number if applicable. Then, click the Search button to bring up all the property records matching your criteria.
                            </p>

                            <ul>
                                <li style="padding-bottom: 8px;"><b>Only the street number field is required for searching.</b></li>
                                <li style="padding-bottom: 8px;"><b>Do not enter directional prefixes such as North, South, East, West, etc.</b>&nbsp;&nbsp;Existing property records might have different abbreviations and spellings which may cause the search results to be incomplete.</li>
                                <li><b>Do not enter street suffixes such as St, Blvd, Cir, Rd, etc.</b>&nbsp;&nbsp;Existing property records might have different abbreviations and spellings which may cause the search results to be incomplete.</li>
                            </ul>

                        <div class="row">
                            <div class="col-lg-6">
                                <div>
                                    <h4>Search Option 1: Full Address</h4>
                                    <i>"700 E Smith St #120"</i>
                                </div>
                                <div class="row gx-2 mt-2">
                                    <div class="col border border-info p-1 m-2">
                                        700
                                    </div>
                                    <div class="col border border-info p-1 m-2">
                                        Smith
                                    </div>
                                    <div class="col border border-info p-1 m-2">
                                        120
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <h4>Search Option 2: Street Number Only</h4>
                                    <i>"700 E Smith St #120"</i>
                                </div>
                                <div class="row mt-2">
                                    <div class="col border border-info p-1 m-2">
                                        700
                                    </div>
                                    <div class="col border border-info p-1 m-2">
                                        &nbsp;
                                    </div>
                                    <div class="col border border-info p-1 m-2">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </vp-section>
            </div>                       
        </div>
        <div class="row">
            <div class="mb-3">
                <vp-section header="Search for Property">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4 class="text-center">Customer Account Number</h4>
                            <div class="row">
                                <vp-input type="text"
                                    label="Account Number"
                                    [(ngModel)]="accountNumber"                      
                                    name="accountNumber"                                  
                                    />
                                <div class="col">
                                    
                                    <p class="form-text text-muted">Example: XXXX-XXXX-XXXX</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="text-center">Property Location</h4>
                            <div class="row">
                                <vp-input type="text"
                                    label="Street Number"
                                    [(ngModel)]="streetNumber"
                                    name="streetNumber"                                  
                                    />
                                <div class="col">
                                    <p class="form-text text-muted">Example: 123 Main</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </vp-section>
            </div>
        </div>


        <div class="mt-3">
            <div *ngIf="errorMessage" class="alert alert-danger mb-3">
                {{ errorMessage }}
            </div>

            <vp-validation-summary [form]="searchForm" />

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary vp-section-button">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>

<dp-loading-spinner *ngIf="table.isLoading"></dp-loading-spinner>

<div *ngIf="showResults">

    <div *ngIf="errorMessage" class="alert alert-danger mb-3">
        {{ errorMessage }}
    </div>

    <vp-section [header]="table.items?.data?.length === 0 ? 'No Property Matches Found' : 'Property Search Results'">

        <ng-container *ngIf="table.items?.data?.length === 0">
            <p class="text-center mt-2 mb-0 fw-bold fs-5">No property records were found matching the specified search criteria.</p>
            <p class="mt-2">If the criteria used for the search is valid then a record of the property may not exist within the database. You can continue submitting your CSI by clicking the <strong>Submit an Inspection for an Unlisted Property</strong> button below.</p>
        </ng-container>

        <ng-container *ngIf="table.items?.data?.length !== 0">
            <p class="mt-2">
                <strong>Property match found:</strong> If one of the results matches the property for your inspection, click the <strong>Submit CSI</strong> button to submit a new CSI for that property.
            </p>
            <p>
                <strong>No match found:</strong> If none of the property records are a match, start a new CSI using a blank form by clicking on the <strong>Submit an Inspection for an Unlisted Property</strong> button below.
            </p>
        </ng-container>

        <div class="d-flex justify-content-center mb-4 gap-2">
            <button type="button" class="btn btn-primary vp-section-button">
                Submit an Inspection for an Unlisted Property
            </button>
            <button type="button" class="btn btn-primary vp-section-button" (click)="showResults = false">
                <i class="fa-solid fa-magnifying-glass me-1"></i>
                Search Again
            </button>
        </div>

        <vp-table *ngIf="table.items"
                  [columns]="table.columns!"
                  [data]="table.items.data"
                  [(pageInfo)]="table.items.pageInfo"
                  (pageInfoChange)="getSites()"
                  [(query)]="table.query"
                  (queryChange)="getSites()"
                  (queryReset)="getSites()"
                  [customActions]="customActions" />

    </vp-section>


</div>
