.col-period { width: 10%; }
.col-stat   { width: 20%; }
.col-num    { width: 4%; }

.period-btn {
    //min-width: 90px;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}