<div>
    <h1 class="text-center h2">Completed Test</h1>
    <div>
         <div class="d-flex flex-row justify-content-center">
                <div class="me-3">
                    <span>A  </span> 
                    <input class="form-check-input" type="checkbox" [checked]="true"/>
                    <span>  indicates Yes.</span>
                </div>

                <div class="ms-3">
                    <span>A  </span> 
                    <input class="form-check-input" type="checkbox" [checked]="false"/>
                    <span>  indicates a No.</span>
                </div>
        </div>
        <p class="text-center mt-1">The following form must be completed for each assembly tested for recordkeeping *purposes:</p>
    </div>

    <dp-loading-spinner *ngIf="isLoading"></dp-loading-spinner>

    <div *ngIf="!isLoading && test">
        <div class="row mt-3">
            <vp-backflow-test-water-supplier [test]="test" />
        </div>

        <div class="row mt-3">
            <vp-professional-backflow-test-bpat-info [test]="test" />
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <vp-professional-backflow-test-property-info [test]="test" />
            </div>
            <div class="col-md-6">
                <vp-professional-backflow-test-mailing-info [test]="test" />
            </div>
        </div>

        <div class="row mt-3">
            <vp-professional-backflow-test-backflow-info [test]="test" />
        </div>

        <div class="row mt-3">
            <vp-backflow-test-info
                [test]="test"
                [canModify]="false" />
        </div>

        <vp-backflow-test-additional-info
            [test]="test"
            [canModify]="false"
            [showRainSensor]="settings?.showRainSensor ?? false"
            [showOSSF]="settings?.showOSSF ?? false"
            [showPermitNumber]="settings?.showPermitNumber ?? false" />

        <div class="row mt-3">
            <vp-backflow-test-remarks [test]="test" />
        </div>

        <vp-backflow-test-images
            [test]="test"
            [canModify]="false" />

        <div class="d-flex flex-column align-items-center gap-2 mt-3">
            <div class="d-flex justify-content-center gap-2 flex-wrap">
                <button type="button" class="btn btn-primary vp-section-button" (click)="exportPdf()"
                        [disabled]="!test.transactionId">
                    Export Test to Printable Document
                </button>
                <button type="button" class="btn btn-primary vp-section-button"
                        [routerLink]="['/professionals/backflow/tests', id, 'out-of-service']">
                    Out of Service Request
                </button>
            </div>
            <div *ngIf="!test.transactionId" class="text-danger text-center small">
                Report can't be downloaded until it's paid. Please go to checkout and pay for this transaction, then try downloading again.
            </div>
        </div>
    </div>

    <div class="text-center mt-3"> The above is certified to be true at the time of testing.
        <br>* TEST RECORDS MUST BE KEPT FOR AT LEAST THREE YEARS [30 TAC §290.46(B)]
        <br>** USE ONLY MANUFACTURER'S REPLACEMENT PARTS
        <br>*** 2nd Check: Numeric reading required for Double Check Valve only.
        <br>**** Indicates additional information not present on the standard TCEQ report
    </div>
</div>
