<h1 class="text-center h2">
    Property Record Search
</h1>

<div [hidden]="showResults">

    <div class="d-flex justify-content-center  mb-3">
        <button type="button"
                class="btn btn-primary"
                title="Create New Property Record"
                aria-label="Create New Property Record"
                (click)="add()">
            <i class="fa-solid fa-circle-plus me-1"></i>
            Create New Property Record
        </button>
    </div>

    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
        <vp-filter-panel (filterChange)="onFilterChange($event)">
            <vp-section header="General Search Criteria">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="accountNumber"
                                                   label="Account number"
                                                   [form]="searchForm" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="invalidMailingAddress"
                                                   label="Invalid mailing address"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="outOfArea"
                                                   label="Out of area"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="isFeeExempt"
                                                   label="Is fee exempt"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="needsCsiInspection"
                                                   label="Needs CSI inspection"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="needsBackflowLetter"
                                                   label="Needs unknown assemblies letter"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="needsFogInspection"
                                                   label="Needs FOG inspection"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="needsFogPermit"
                                                   label="Needs FOG permit"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <vp-filter-panel-field fieldName="createdTime"
                                               label="Creation date"
                                               type="daterange"
                                               [form]="searchForm" />
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="facilityType"
                                                   label="Facility type"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="facilityTypes" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="greaseTrapType"
                                                   label="Grease trap"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="greaseTrapoptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasKnownBackflowAssemblies"
                                                   label="Has known backflow assemblies"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasOnSiteSewageFacility"
                                                   label="Has on-site sewage facility"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasAuxWaterSupply"
                                                   label="Has auxiliary water supply"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasFireSystem"
                                                   label="Has fire system"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="fireSeparateWater"
                                                   label="Fire system on separate water supply"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasGritTrap"
                                                   label="Has sand & grit trap"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasIrrigation"
                                                   label="Has irrigation system"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="irrigationSeparateWater"
                                                   label="Irrigation on separate water supply"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasDomesticPremisesIsolation"
                                                   label="Has domestic/premises isolation"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <vp-filter-panel-field fieldName="requiresDomesticPremisesIsolation"
                                               label="Requires domestic/premises isolation"
                                               type="select"
                                               [form]="searchForm"
                                               [options]="yesNoOptions" />
                    </div>
                </div>
            </vp-section>

            <div class="row mt-3">
                <div class="col-md-6">
                    <vp-section header="Location / Property Criteria">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <vp-filter-panel-field fieldName="propertyType"
                                                       label="Property type"
                                                       type="select"
                                                       [form]="searchForm"
                                                       [options]="propertyTypes" />
                            </div>

                            <div class="col-12 mb-3">
                                <vp-filter-panel-field fieldName="businessName"
                                                       label="Business name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-4 mb-3">
                                <vp-filter-panel-field fieldName="streetNumber"
                                                       label="Street #"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-8 mb-3">
                                <vp-filter-panel-field fieldName="streetName"
                                                       label="Street name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-12">
                                <vp-filter-panel-field fieldName="zipCode"
                                                       label="ZIP"
                                                       [form]="searchForm" />
                            </div>
                        </div>
                    </vp-section>
                </div>

                <div class="col-md-6 mt-3 mt-md-0">
                    <vp-section header="Contact / Mailing Criteria">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <vp-filter-panel-field fieldName="mailingCompanyName"
                                                       label="Company name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-12 mb-3">
                                <vp-filter-panel-field fieldName="mailingContactName"
                                                       label="Contact name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-4 mb-3">
                                <vp-filter-panel-field fieldName="mailingStreetNumber"
                                                       label="Street #"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-8 mb-3">
                                <vp-filter-panel-field fieldName="mailingStreetName"
                                                       label="Street name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-12">
                                <vp-filter-panel-field fieldName="mailingZipCode"
                                                       label="ZIP"
                                                       [form]="searchForm" />
                            </div>
                        </div>
                    </vp-section>
                </div>
            </div>
        </vp-filter-panel>

        <div class="mt-3">
            <vp-validation-summary [form]="searchForm" />

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary vp-section-button">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>

<dp-loading-spinner *ngIf="table.isLoading"></dp-loading-spinner>



<div *ngIf="showResults">

    <div class="d-flex justify-content-between mb-3">

        <button type="button"
                class="btn btn-primary"
                title="Create New Property Record"
                aria-label="Create New Property Record"
                (click)="add()">
            <i class="fa-solid fa-circle-plus me-1"></i>
            Create New Property Record
        </button>

        <button type="button"
                class="btn btn-primary vp-section-button"
                (click)="showResults = false;">
            Search Again
        </button>

    </div>


    <!--<button type="button" class="btn btn-primary" title="Create New Property Record"
            aria-label="Create New Property Record" (click)="add()">
        <i class="fa-solid fa-circle-plus"></i>
        Create New Property Record
    </button>

    <div class="mb-3 d-flex justify-content-end">
        <button type="button" class="btn btn-primary vp-section-button" (click)="showResults = false;">
            Search Again
        </button>
    </div>-->

    <vp-section header="Property Record Search">
        <vp-table *ngIf="table.items"
                  [columns]="table.columns!"
                  [data]="table.items.data"
                  [(pageInfo)]="table.items.pageInfo"
                  (pageInfoChange)="getSites()"
                  [(query)]="table.query"
                  (queryChange)="getSites()"
                  (queryReset)="getSites()"
                  [canEdit]="true"
                  (edit)="edit($event)"
                  [freeTextSearch]="table.freeTextSearch" />
    </vp-section>
</div>
