<ng-template #selectTemplate let-item="rowData">
    <div class="text-center">
        <input type="checkbox"
               class="form-check-input"
               [checked]="item.selected"
               (click)="$event.stopPropagation()"
               (change)="toggleSelected(item)" />
    </div>
</ng-template>

<ng-template #generatorTemplate let-item="rowData">
    <div *ngIf="item.propertyBusinessName">{{ item.propertyBusinessName }}</div>
    <div>
        {{ item.propertyStreetNumber }} {{ item.propertyStreetName }}
        <span *ngIf="item.propertyNumber">#{{ item.propertyNumber }}</span>
    </div>
    <div>
        {{ item.propertyCity }}<span *ngIf="item.propertyCity">, </span>{{ item.propertyState?.code }} {{ item.propertyZip }}
    </div>
</ng-template>

@if (receipt) {
    <vp-checkout-receipt [receipt]="receipt">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Inspection Date</th>
                    <th>Water Supplier</th>
                    <th>Generator Information</th>
                    <th class="text-end">Fee</th>
                </tr>
            </thead>
            <tbody>
                @for (inspection of receipt.items; track inspection.id) {
                    <tr>
                        <td>{{ inspection.inspectionDate | date: 'MM/dd/yyyy' }}</td>
                        <td>{{ inspection.waterSupplier?.name }}</td>
                        <td>{{ inspection.propertyBusinessName }} {{ inspection.propertyStreetNumber }} {{ inspection.propertyStreetName }}</td>
                        <td class="text-end">{{ inspection.amount | currency }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </vp-checkout-receipt>
} @else {
    <vp-section header="Unpaid Inspection Reports">
        <dp-loading-spinner *ngIf="isLoading"></dp-loading-spinner>

        <div *ngIf="isAdmin" class="row mb-2">
            <div class="p-2 text-end fw-bold col-md-3">List unpaid inspection reports for: </div>

            <div class="col-md-4 pb-2">
                <vp-input type="select"
                          class=""
                          name="reportFor"
                          [options]="reportForOptions"
                          [(ngModel)]="reportFor" />
            </div>

            <div class="col-md-5">
                <button type="button" class="pb-1 btn btn-primary vp-section-button " (click)="getFogInspections()">
                    Update List
                </button>
            </div>
        </div>

        @if (items.items && items.items.data && items.items.data.length > 0) {
            <div class="vp-checkout-table-scroll">
                <vp-table [columns]="items.columns!"
                          [data]="items.items.data"
                          [(query)]="items.query"
                          [canSelect]="true"
                          [canViewDetails]="true"
                          (viewDetails)="viewInspection($event)"
                          [canEdit]="true"
                          (edit)="editInspection($event)"
                          [canDelete]="true"
                          (delete)="deleteInspection($event)" />
            </div>

            <div class="row my-2">
                <div class="col-md-2">
                    <button type="button" class="pb-1 btn btn-primary vp-section-button " (click)="removeUnselectedInspections()">
                        Update
                    </button>
                </div>
                <div class="p-2 text-end col-md-9">Total submission fee: {{ amounts.total | currency }}</div>
            </div>
            <vp-checkout-amounts [amounts]="amounts" [accountBalance]="accountBalance" />
        } @else {
            <div class="text-center text-muted py-5">
                No unpaid inspection reports found.
            </div>
        }
    </vp-section>

    @if (items.items && items.items.data && items.items.data.length > 0) {
        <vp-checkout-payment [cardCharge]="amounts.cardCharge"
                             [isLoading]="isLoading"
                             [validationErrors]="validationErrors"
                             (paymentSubmitted)="completePayment($event)" />
    }
}
