@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="d-flex align-items-center justify-content-center bg-light">
    <div class="card shadow-sm" style="max-width: 680px; width: 100%; border-radius: 12px;">

        <div class="card-header text-center text-white bg-info fw-semibold fs-5 rounded-top">
            @ViewData["Title"]
        </div>

        <div class="card-body p-4">
            <p class="mb-3">
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>