@page

@{
    ViewData["Title"] = "Invitation Confirmation";
}

<div class="d-flex align-items-center justify-content-center bg-light">
    <div class="card shadow-sm vp-login-form">
        <div class="card-header text-center text-white bg-info fw-semibold fs-5 rounded-top">
            <h1 class="h4 mb-0">@ViewData["Title"]</h1>
        </div>
        <div class="card-body border border-info rounded-bottom">
            <p>
                Thank you for accepting the invitation. Please click the button below to login.
            </p>

            <div class="d-flex justify-content-center mt-4">
                <a asp-page="./Login" class="btn btn-primary px-5">
                    <i class="fa-solid fa-right-to-bracket me-2"></i>
                    Login
                </a>
            </div>
        </div>
    </div>
</div>