@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend Email Confirmation";
}
<div class="d-flex align-items-center justify-content-center bg-light">
    <div class="card shadow-sm vp-login-form">
        <div class="card-header text-center text-white bg-info fw-semibold fs-5 rounded-top">
            <h1 class="h4 mb-0">@ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            <p>
                If you lost your email confirmation email or it expired, you can request a new one here. Please enter
                your email address below to receive another email confirmation link.
            </p>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label fw-bold"></label>
                    <input asp-for="Input.Email" class="form-control" aria-required="true"
                           placeholder="name@example.com" />

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-primary">Resend</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}