<ng-template #descriptionCell let-row="rowData">
    <div class="fw-bold">Description:</div>
    <div class="mb-2">{{ row.setting.description }}</div>

    <div class="fw-bold">Account:</div>
    <div class="mb-2">{{ row.account }}</div>

    <div class="fw-bold">Color Identifier:</div>
    <div class="border rounded"
         style="width: 40px; height: 40px;"
         [style.background-color]="row.setting.color"></div>
</ng-template>

<ng-template #propertyTypeCell let-row="rowData">
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.propertyTypeResidential ? 'fa-square-check' : 'fa-square'"></i>Residential
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.propertyTypeCommercial ? 'fa-square-check' : 'fa-square'"></i>Commercial
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.propertyTypeAny ? 'fa-square-check' : 'fa-square'"></i>Any
    </div>
</ng-template>

<ng-template #filtersCell let-row="rowData">
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterFailedTest ? 'fa-square-check' : 'fa-square'"></i>Failed Test
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterPassingTest ? 'fa-square-check' : 'fa-square'"></i>Passing Test
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterUnknownSerialNumber ? 'fa-square-check' : 'fa-square'"></i>Unknown Serial Number
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterInactiveProperty ? 'fa-square-check' : 'fa-square'"></i>Inactive Property
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterNonCompliance ? 'fa-square-check' : 'fa-square'"></i>Non-Compliance
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterPotableNonPotableMismatch ? 'fa-square-check' : 'fa-square'"></i>Potable/NonPotable Mismatch
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterDuplicateTest ? 'fa-square-check' : 'fa-square'"></i>Duplicate Test
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterOutOfService ? 'fa-square-check' : 'fa-square'"></i>Out of Service
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterContainsRemarks ? 'fa-square-check' : 'fa-square'"></i>Contains Remarks
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterBackflowNotProperlyInstalled ? 'fa-square-check' : 'fa-square'"></i>Backflow not Properly Installed
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterFeeExempt ? 'fa-square-check' : 'fa-square'"></i>Fee Exempt
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterHasOnSiteSewageFacility ? 'fa-square-check' : 'fa-square'"></i>Has OSSF
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterHasAuxWaterSupply ? 'fa-square-check' : 'fa-square'"></i>Has Aux Water Supply
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterSubmissionDaysExceeded ? 'fa-square-check' : 'fa-square'"></i>Submission Days Exeeded ({{ row.setting.filterSubmissionDaysExceededDays }} days)
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.filterAny ? 'fa-square-check' : 'fa-square'"></i>Any
    </div>
</ng-template>

<ng-template #hazardTypesCell let-row="rowData">
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeAgriculturalFeedLot ? 'fa-square-check' : 'fa-square'"></i>Agricultural/Feed Lot
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeDomesticPremisesIsolation ? 'fa-square-check' : 'fa-square'"></i>Domestic/Premises Isolation
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeFireSystem ? 'fa-square-check' : 'fa-square'"></i>Fire System
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeFireHydrantTemporaryConstruction ? 'fa-square-check' : 'fa-square'"></i>Fire Hydrant/Temporary Construction
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeGasStationCarWash ? 'fa-square-check' : 'fa-square'"></i>Gas Station/Car Wash
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeIrrigationNonChemical ? 'fa-square-check' : 'fa-square'"></i>Irrigation - Non Chemical
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeIrrigationChemicalFeed ? 'fa-square-check' : 'fa-square'"></i>Irrigation - Chemical Feed
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeLaundryCleaners ? 'fa-square-check' : 'fa-square'"></i>Laundry/Cleaners
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeMedicalDentalLaboratoryMortuary ? 'fa-square-check' : 'fa-square'"></i>Medical/Dental/Laboratory/Mortuary
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeNailsSalonGrooming ? 'fa-square-check' : 'fa-square'"></i>Nails/Salon/Grooming
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypePoolRecreationAthletics ? 'fa-square-check' : 'fa-square'"></i>Pool/Recreation/Athletics
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeRestaurantVendingGrocery ? 'fa-square-check' : 'fa-square'"></i>Restaurant/Vending/Grocery
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeFountainsGardenPondsWaterFeatures ? 'fa-square-check' : 'fa-square'"></i>Fountains/Garden Ponds/Water Features
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeWaterSoftener ? 'fa-square-check' : 'fa-square'"></i>Water Softener
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeOther ? 'fa-square-check' : 'fa-square'"></i>Other
    </div>
    <div class="text-nowrap">
        <i class="fa-regular fs-5 me-1" [ngClass]="row.setting.hazardTypeAny ? 'fa-square-check' : 'fa-square'"></i>Any
    </div>
</ng-template>

<ng-template #intervalCell let-row="rowData">
    <div class="fw-bold">Interval:</div>
    <div class="mb-2">{{ row.interval }}</div>

    <div class="fw-bold">Type:</div>
    <div>{{ row.deliveryType }}</div>
</ng-template>

<div class="text-center mb-4">
    <h1 class="h2">
        Notifications
    </h1>
</div>

<vp-section header="Notification Settings">
    <div dp-spinner-parent>
        <dp-loading-spinner *ngIf="table.isLoading" message="Loading notification settings" />

        <vp-table *ngIf="table.items"
                  [columns]="table.columns!"
                  [data]="table.items.data"
                  [canEdit]="canModify"
                  (edit)="edit($event)"
                  [canDelete]="canModify"
                  (delete)="delete($event)"
                  [(pageInfo)]="table.items.pageInfo"
                  (pageInfoChange)="getSettings()" />

        <p *ngIf="table.items && table.items.data.length === 0" class="text-muted">
            No notification settings exist for this water supplier account.
        </p>
    </div>

    <div *ngIf="canModify" class="text-center mt-3">
        <button type="button" class="btn btn-primary" (click)="add()">
            Create New Notification
        </button>
    </div>
</vp-section>
