
<div dp-spinner-parent>
    <dp-loading-spinner *ngIf="isLoading" />

    <form #form="ngForm" (ngSubmit)="save(form)">
        <div class="mb-3">
            <vp-input name="insuranceNumber"
                      label="Policy number"
                      [(ngModel)]="insurance.insuranceNumber"
                      [required]="true"
                      [maxLength]="50"
                      [form]="form" />
        </div>

        <div *ngIf="!isEditMode" class="mb-3">
            <vp-file-upload name="coiFile"
                            validationLabel="Certificate of insurance (COI)"
                            [(ngModel)]="certificateFile"
                            [required]="true"
                            [form]="form" />
        </div>

        <div class="mb-3">
            <vp-input name="expirationDate"
                      label="Expiration date"
                      type="date"
                      [(ngModel)]="insurance.expirationDate"
                      [form]="form" />
        </div>

        <div class="mt-3">
            <vp-validation-summary [form]="form" [validationErrors]="validationErrors" />

            <div class="d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-primary w-100" (click)="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary w-100">Save</button>
            </div>
        </div>
    </form>
</div>
