<div>
    <form #form="ngForm">

        <div class="row">
            <div class="col-md-6">
                <div class="h-100">
                    <vp-section header="Site Settings">
                        <div class="d-flex flex-column justify-content-between h-100" dp-spinner-parent>
                            <dp-loading-spinner *ngIf="sectionLoading.siteSettings"></dp-loading-spinner>

                            <div>
                                <div class="mb-4">
                                    <div class="mb-2">
                                        <strong>Creation Date: </strong>
                                        <span>{{ site.createdTime | date:'M/d/yyyy h:mm a' }}</span>
                                    </div>
                                    <div class="mb-3">
                                        <strong>Last Modified: </strong>
                                        <span>{{ site.updatedTime | date:'M/d/yyyy h:mm a' }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <vp-input name="backflowScheduleMonth"
                                                  label="Test renewal month"
                                                  type="select"
                                                  [(ngModel)]="site.backflowScheduleMonth"
                                                  [options]="backflowScheduleMonths"
                                                  [form]="form">
                                        </vp-input>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.active" name="active">
                                            <label class="form-check-label">Active</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.invalidMailingAddress"
                                                   name="invalidMailingAddress">
                                            <label class="form-check-label">Invalid mailing address</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.outOfArea" name="outOfArea">
                                            <label class="form-check-label">Out of area</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.isFeeExempt" name="isFeeExempt">
                                            <label class="form-check-label">Is fee exempt</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.needsCsiInspection" name="needsCsiInspection">
                                            <label class="form-check-label">Needs CSI inspection</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.needsFogInspection" name="needsFogInspection">
                                            <label class="form-check-label">Needs FOG inspection</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.needsFogPermit" name="needsFogPermit">
                                            <label class="form-check-label">Has FOG permit</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-3" style="margin-top: 40px;">
                                        <div class="mb-2">
                                            <vp-input name="lastTripTicketDate"
                                                      label="Last trip ticket date"
                                                      type="date"
                                                      [(ngModel)]="site.lastTripTicketDate"
                                                      [form]="form">
                                            </vp-input>
                                        </div>
                                        <div class="mb-2">
                                            <vp-input [(ngModel)]="site.tripTicketInterval"
                                                      name="tripTicketInterval"
                                                      label="Trip ticket interval"
                                                      type="number"
                                                      [form]="form">
                                            </vp-input>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <p>Program User Account Assignments:</p>
                                        <div class="mb-2">
                                            <vp-input name="CsiAccountAssignment"
                                                      label="CSI"
                                                      type="select"
                                                      [(ngModel)]="site.csiAccountAssignmentId"
                                                      [options]="csiUsers"
                                                      [form]="form">
                                            </vp-input>
                                        </div>
                                        <div class="mb-2">
                                            <vp-input name="backflowAccountAssignment"
                                                      label="Backflow"
                                                      type="select"
                                                      [(ngModel)]="site.backflowAccountAssignmentId"
                                                      [options]="backflowUsers"
                                                      [form]="form">
                                            </vp-input>
                                        </div>
                                        <div class="mb-2">
                                            <vp-input name="fogAccountAssignment"
                                                      label="FOG"
                                                      type="select"
                                                      [(ngModel)]="site.fogAccountAssignmentId"
                                                      [options]="fogUsers"
                                                      [form]="form">
                                            </vp-input>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <vp-validation-summary [form]="form"
                                                       [validationErrors]="validationErrors">
                                </vp-validation-summary>

                                <div class="d-flex justify-content-end">
                                    <button type="button"
                                            class="btn btn-primary vp-section-button"
                                            (click)="updateSiteSettings(form)">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </vp-section>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100">
                    <vp-section header="Facility Type">
                        <div class="d-flex flex-column h-100 justify-content-between" dp-spinner-parent>
                            <dp-loading-spinner *ngIf="sectionLoading.facilityType"></dp-loading-spinner>

                            <div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <vp-input name="facilityType"
                                                  label="Facility type"
                                                  type="select"
                                                  [(ngModel)]="site.facilityType"
                                                  [options]="facilityTypes"
                                                  [form]="form">
                                        </vp-input>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <vp-input name="greaseTrapType"
                                                  label="Grease trap type"
                                                  type="select"
                                                  [(ngModel)]="site.greaseTrapType"
                                                  [options]="greaseTrapTypes"
                                                  [form]="form">
                                        </vp-input>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.hasKnownBackflowAssemblies"
                                                   name="hasKnownBackflowAssemblies">
                                            <label class="form-check-label">Has known backflow assemblies</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.hasOnSiteSewageFacility"
                                                   name="hasOnSiteSewageFacility">
                                            <label class="form-check-label">Has on-site sewage facility</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.hasAuxWaterSupply"
                                                   name="hasAuxWaterSupply">
                                            <label class="form-check-label">Has auxiliary water supply</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.hasFireSystem"
                                                   name="hasFireSystem">
                                            <label class="form-check-label">Has fire system</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.fireSeparateWater"
                                                   name="fireSeparateWater">
                                            <label class="form-check-label">Fire system on separate water supply</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.hasGritTrap"
                                                   name="hasGritTrap">
                                            <label class="form-check-label">Has sand &amp; grit trap</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.hasIrrigation"
                                                   name="hasIrrigation">
                                            <label class="form-check-label">Has irrigation system</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.irrigationSeparateWater"
                                                   name="irrigationSeparateWater">
                                            <label class="form-check-label">Irrigation on separate water supply</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.hasDomesticPremisesIsolation"
                                                   name="hasDomesticPremisesIsolation">
                                            <label class="form-check-label">Has domestic/premises isolation</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                   [(ngModel)]="site.requiresDomesticPremisesIsolation"
                                                   name="requiresDomesticPremisesIsolation">
                                            <label class="form-check-label">Requires domestic/premises isolation</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <vp-validation-summary [form]="form"
                                                       [validationErrors]="validationErrors">
                                </vp-validation-summary>

                                <div class="d-flex justify-content-end">
                                    <button type="button"
                                            class="btn btn-primary vp-section-button"
                                            (click)="updateFacilityType(form)">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </vp-section>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <div class="h-100">
                    <vp-section header="Location / Property Information">
                        <div class="d-flex flex-column justify-content-between h-100" dp-spinner-parent>
                            <dp-loading-spinner *ngIf="sectionLoading.location"></dp-loading-spinner>

                            <div>
                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.accountNumber"
                                              name="accountNumber"
                                              label="Account number"
                                              [required]="true"
                                              [maxLength]="50"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <div class="mb-3">
                                    <vp-input name="propertyType"
                                              label="Property type"
                                              type="select"
                                              [(ngModel)]="site.propertyType"
                                              [options]="propertyTypeOptions"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.businessName"
                                              name="businessName"
                                              label="Business name"
                                              [maxLength]="255"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <p class="fw-bold">Property Address</p>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <vp-input [(ngModel)]="site.streetNumber"
                                                      name="streetNumber"
                                                      label="Street #"
                                                      [form]="form">
                                            </vp-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <vp-input [(ngModel)]="site.streetName"
                                                      name="streetName"
                                                      label="Street name"
                                                      [form]="form">
                                            </vp-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <vp-input [(ngModel)]="site.propertyNumber"
                                                      name="propertyNumber"
                                                      label="Suite / Apt #"
                                                      [form]="form">
                                            </vp-input>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.city"
                                              name="city"
                                              label="City"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <div class="mb-3">
                                    <vp-input name="stateId"
                                              label="State"
                                              type="select"
                                              [ngModel]="site.state?.id"
                                              (ngModelChange)="site.state = $event ? { id: $event } : undefined"
                                              [options]="stateOptions"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.zipCode"
                                              name="zip"
                                              label="ZIP"
                                              [maxLength]="10"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.fogGeneratorPhoneNumber"
                                              name="phone"
                                              label="Phone number"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.fogGeneratorEmailAddress"
                                              name="email"
                                              label="Email address"
                                              [form]="form">
                                    </vp-input>
                                </div>
                            </div>

                            <div>
                                <vp-validation-summary [form]="form"
                                                       [validationErrors]="validationErrors">
                                </vp-validation-summary>

                                <div class="d-flex justify-content-end">
                                    <button type="button"
                                            class="btn btn-primary vp-section-button"
                                            (click)="updateLocation(form)">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </vp-section>
                </div>
            </div>

            <div class="col-md-6">
                <div class="h-100">
                    <vp-section header="Contact / Mailing Information">
                        <div class="d-flex flex-column justify-content-between h-100" dp-spinner-parent>
                            <dp-loading-spinner *ngIf="sectionLoading.mailing"></dp-loading-spinner>

                            <div>
                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.mailingCompanyName"
                                              name="companyName"
                                              label="Company name"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.mailingContactName"
                                              name="contactName"
                                              label="Contact name"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <div class="mb-3">
                                    <button type="button"
                                            class="btn btn-info text-white"
                                            (click)="copyFromPropertyAddress()">
                                        Copy from Property Address
                                    </button>
                                </div>

                                <p class="fw-bold">Mailing Address</p>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <vp-input [(ngModel)]="site.mailingStreetNumber"
                                                      name="mailingStreetNumber"
                                                      label="Street #"
                                                      [form]="form">
                                            </vp-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <vp-input [(ngModel)]="site.mailingStreetName"
                                                      name="mailingStreetName"
                                                      label="Street name"
                                                      [form]="form">
                                            </vp-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <vp-input [(ngModel)]="site.mailingNumber"
                                                      name="mailingNumber"
                                                      label="Suite/Apt #"
                                                      [form]="form">
                                            </vp-input>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.mailingCity"
                                              name="mailingCity"
                                              label="City"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <vp-input name="mailingStateId"
                                          label="State"
                                          type="select"
                                          [ngModel]="site.mailingState?.id"
                                          (ngModelChange)="site.mailingState = $event ? { id: $event } : undefined"
                                          [options]="stateOptions"
                                          [form]="form">
                                </vp-input>

                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.mailingZipCode"
                                              name="mailingZip"
                                              label="ZIP"
                                              [maxLength]="10"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.mailingPhoneNumber"
                                              name="mailingPhone"
                                              label="Phone number"
                                              [form]="form">
                                    </vp-input>
                                </div>

                                <div class="mb-3">
                                    <vp-input [(ngModel)]="site.mailingEmailAddress"
                                              name="mailingEmail"
                                              label="Email address"
                                              [form]="form">
                                    </vp-input>
                                </div>
                            </div>

                            <div>
                                <vp-validation-summary [form]="form"
                                                       [validationErrors]="validationErrors">
                                </vp-validation-summary>

                                <div class="d-flex justify-content-end">
                                    <button type="button"
                                            class="btn btn-primary vp-section-button"
                                            (click)="updateMailingInformation(form)">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </vp-section>
                </div>
            </div>
        </div>
    </form>
</div>