<div>
    <dp-loading-spinner *ngIf="isLoading" />


    <div dp-spinner-parent>
        <dp-loading-spinner *ngIf="isLoading"></dp-loading-spinner>

        <form #form="ngForm" (ngSubmit)="save(form)">
            <vp-section header="Site Settings">
                <div class="mb-4">
                    <div class="mb-2">
                        <strong>Creation Date: </strong>
                        <span>{{ site.createdTime | date:'M/d/yyyy h:mm a' }}</span>
                    </div>

                    <div class="mb-3">
                        <strong>Last Modified: </strong>
                        <span>{{ site.updatedTime | date:'M/d/yyyy h:mm a' }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <vp-input name="backflowScheduleMonth"
                                  label="Test Renewal Month"
                                  type="select"
                                  [(ngModel)]="site.backflowScheduleMonth"
                                  [form]="form">
                            <option [ngValue]="0" selected>Not Applicable</option>
                            <option *ngFor="let month of months;let i = index"
                                    [value]="i + 1">
                                {{month.text}}
                            </option>
                        </vp-input>
                    </div>  
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-check mb-2">
                            <input type="checkbox"
                                   class="form-check-input"
                                   [(ngModel)]="site.active"
                                   name="active">
                            <label class="form-check-label">Active</label>
                        </div>

                        <div class="form-check mb-2">
                            <input type="checkbox"
                                   class="form-check-input"
                                   [(ngModel)]="site.invalidMailingAddress"
                                   name="invalidMailingAddress">
                            <label class="form-check-label">Invalid Mailing Address</label>
                        </div>

                        <div class="form-check mb-2">
                            <input type="checkbox"
                                   class="form-check-input"
                                   [(ngModel)]="site.outOfArea"
                                   name="outOfArea">
                            <label class="form-check-label">Out of Area</label>
                        </div>

                        <div class="form-check mb-2">
                            <input type="checkbox"
                                   class="form-check-input"
                                   [(ngModel)]="site.isFeeExempt"
                                   name="isFeeExempt">
                            <label class="form-check-label">Is Fee Exempt</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-check mb-2">
                            <input type="checkbox"
                                   class="form-check-input"
                                   [(ngModel)]="site.needsCsiInspection"
                                   name="needsCsiInspection">
                            <label class="form-check-label">Needs CSI Inspection</label>
                        </div>

                        <div class="form-check mb-2">
                            <input type="checkbox"
                                   class="form-check-input"
                                   [(ngModel)]="site.needsFogInspection"
                                   name="needsFogInspection">
                            <label class="form-check-label">Needs FOG Inspection</label>
                        </div>

                        <div class="form-check mb-2">
                            <input type="checkbox"
                                   class="form-check-input"
                                   [(ngModel)]="site.needsFogPermit"
                                   name="needsFogPermit">
                            <label class="form-check-label">Has FOG Permit</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3" style="margin-top: 40px;">
                        <div class="mb-2">
                            <vp-input name="lastTripTicketDate"
                                      label="Last Trip Ticket Date"
                                      type="date"
                                      [(ngModel)]="site.lastTripTicketDate"
                                      [form]="form">
                            </vp-input>
                        </div>

                        <div class="mb-2">
                            <vp-input [(ngModel)]="site.tripTicketInterval"
                                      name="tripTicketInterval"
                                      label="Trip Ticket Interval"
                                      type="number"
                                      [form]="form">
                            </vp-input>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <p>Program User Account Assignments:</p>

                        <div class="mb-2">
                            <vp-input name="CsiAccountAssignment"
                                      label="CSI"
                                      type="select"
                                      [(ngModel)]="site.csiAccountAssignment"
                                      [form]="form">
                                <option value="null">Unassigned</option>
                                <option *ngFor="let user of users"
                                        [ngValue]="user.emailAddress">
                                    {{user.emailAddress}}
                                </option>
                            </vp-input>
                        </div>

                        <div class="mb-2">
                            <vp-input name="backflowAccountAssignment"
                                      label="Backflow"
                                      type="select"
                                      [(ngModel)]="site.backflowAccountAssignment"
                                      [form]="form">
                                <option value="null">Unassigned</option>
                                <option *ngFor="let user of users"
                                        [ngValue]="user.emailAddress">
                                    {{user.emailAddress}}
                                </option>
                            </vp-input>
                        </div>


                        <div class="mb-2">
                            <vp-input name="fogAccountAssignment"
                                      label="FOG"
                                      type="select"
                                      [(ngModel)]="site.fogAccountAssignment"
                                      [form]="form">
                                <option value="null">Unassigned</option>
                                <option *ngFor="let user of users"
                                        [ngValue]="user.emailAddress">
                                    {{user.emailAddress}}
                                </option>
                            </vp-input>
                        </div>
                    </div>
                </div>

                <vp-validation-summary [form]="form"
                                       [validationErrors]="validationErrors">
                </vp-validation-summary>

                <div class="d-flex justify-content-end">
                    <button type="button"
                            class="btn btn-primary vp-section-button"
                            (click)="updateSiteSettings(form)">
                        Update
                    </button>
                </div>
            </vp-section>

            <div class="mt-3">
                <vp-section header="Facility Type">

                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <vp-input name="facilityType"
                                      label="Facility Type"
                                      type="select"
                                      [(ngModel)]="site.facilityType"
                                      [form]="form">

                                <option *ngFor="let type of facilityTypes"
                                        [ngValue]="type.id">
                                    {{ type.name }}
                                </option>
                                <option value="null">Other</option>

                            </vp-input>
                        </div>

                        <div class="col-md-6 mb-3">
                            <vp-input name="hasGreaseTrap"
                                      label="Grease Trap"
                                      type="select"
                                      [(ngModel)]="site.hasGreaseTrap"
                                      [form]="form">

                                <option *ngFor="let option of greaseTrapOptions"
                                        [value]="option.id">
                                    {{ option.name }}
                                </option>

                            </vp-input>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check mb-2">
                                <input name="hasKnownBackflowAssemblies"
                                       type="checkbox"
                                       label="Has Known Backflow Assemblies"
                                       class="form-check-input"
                                       [(ngModel)]="site.hasKnownBackflowAssemblies">
                                <label class="form-check-label">
                                    Has Known Backflow Assemblies
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input type="checkbox"
                                       class="form-check-input"
                                       [(ngModel)]="site.hasOnSiteSewageFacility"
                                       name="hasOnSiteSewageFacility">
                                <label class="form-check-label">
                                    Has On Site Sewage Facility
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input type="checkbox"
                                       class="form-check-input"
                                       [(ngModel)]="site.hasAuxWaterSupply"
                                       name="hasAuxWaterSupply">
                                <label class="form-check-label">
                                    Has Auxiliary Water Supply
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input type="checkbox"
                                       class="form-check-input"
                                       [(ngModel)]="site.hasFireSystem"
                                       name="hasFireSystem">
                                <label class="form-check-label">
                                    Has Fire System
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input type="checkbox"
                                       class="form-check-input"
                                       [(ngModel)]="site.fireSeparateWater"
                                       name="fireSeparateWater">
                                <label class="form-check-label">
                                    Fire System on Separate Water Supply
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check mb-2">
                                <input type="checkbox"
                                       class="form-check-input"
                                       [(ngModel)]="site.hasGritTrap"
                                       name="hasGritTrap">
                                <label class="form-check-label">
                                    Has Sand & Grit Trap
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input type="checkbox"
                                       class="form-check-input"
                                       [(ngModel)]="site.hasIrrigation"
                                       name="hasIrrigation">
                                <label class="form-check-label">
                                    Has Irrigation System
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input type="checkbox"
                                       class="form-check-input"
                                       [(ngModel)]="site.irrigationSeparateWater"
                                       name="irrigationSeparateWater">
                                <label class="form-check-label">
                                    Irrigation on Separate Water Supply
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input type="checkbox"
                                       class="form-check-input"
                                       [(ngModel)]="site.hasDomesticPremisesIsolation"
                                       name="hasDomesticPremisesIsolation">
                                <label class="form-check-label">
                                    Has Domestic/Premises Isolation
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input type="checkbox"
                                       class="form-check-input"
                                       [(ngModel)]="site.requiresDomesticPremisesIsolation"
                                       name="requiresDomesticPremisesIsolation">
                                <label class="form-check-label">
                                    Requires Domestic/Premises Isolation
                                </label>
                            </div>

                        </div>

                    </div>


                    <vp-validation-summary [form]="form"
                                           [validationErrors]="validationErrors">
                    </vp-validation-summary>

                    <div class="d-flex justify-content-end">
                        <button type="button"
                                class="btn btn-primary vp-section-button"
                                (click)="updateFacilityType(form)">
                            Update
                        </button>
                    </div>
                </vp-section>

            </div>
        
        </form>
    </div>
</div>



