<div dp-spinner-parent>
    <dp-loading-spinner *ngIf="isLoading" />

    <form #form="ngForm" (ngSubmit)="save(form)">
        <div *ngIf="!isEditMode" class="mb-4">
            <vp-license-help-text />

            <div class="form-check mb-3">
                <input type="checkbox"
                       class="form-check-input"
                       [(ngModel)]="hasReadHelp"
                       name="hasReadHelp"
                       required>
                <label class="form-check-label"
                       [class.text-danger]="form.submitted && !hasReadHelp">
                    I have read and understand the requirements and process of registering a license number
                </label>
            </div>
        </div>

        <div>
            <div class="mb-3">
                <vp-input type="select"
                          [(ngModel)]="license.professionalType"
                          (ngModelChange)="professionChange()"
                          [required]="true"
                          name="professionalType"
                          label="Profession"
                          [options]="professionalTypeOptions"
                          [form]="form" />
            </div>

            <div class="mb-3">
                <vp-input type="select"
                          name="licenseType"
                          label="Type"
                          [ngModel]="license.licenseType?.id"
                          (ngModelChange)="licenseTypeChange($event)"
                          [required]="true"
                          [form]="form"
                          [options]="licenseTypes" />
            </div>

            <div class="mb-3">
                <vp-input [(ngModel)]="license.licenseNumber"
                          [required]="true"
                          [maxLength]="50"
                          name="licenseNumber"
                          label="License number"
                          [form]="form" />
            </div>
        </div>

        <div class="mt-3">
            <vp-validation-summary [form]="form" [validationErrors]="validationErrors" />

            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary me-2 w-100" (click)="cancel()">
                    Cancel
                </button>
                <button type="submit" class="btn btn-primary w-100">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>