<div class="align-items-center d-flex flex-column flex-fill justify-content-center">
    <div class="border p-4 rounded-2 text-center shadow-sm">
        <h1 class="h2">
            Signed out
        </h1>

        <img class="img-fluid my-4" src="images/logo.png" alt="Logo" style="max-width: 250px;" />

        <p>
            You have signed out. It's a good idea to close the browser to make sure your data is safe.
        </p>

        <p>
            If you'd like to login again, please click the button below.
        </p>

        <button type="button" class="btn btn-primary w-75 mt-3" (click)="signIn()">
            Sign In
        </button>
    </div>
</div>