<ng-container *ngIf="show">
    <div *ngIf="!logs.length" class="d-flex justify-content-end">
        <a *ngIf="canModify" href="javascript:void(0)" class="text-success fs-5" (click)="addLog()" title="Add">
            <i class="fa-solid fa-file-circle-plus"></i>
        </a>
    </div>

    <ng-container *ngFor="let log of logs; first as isFirst">
        <div *ngIf="isFirst || logsExpanded" class="border rounded p-2 mb-2">
            <div class="d-flex justify-content-between align-items-start gap-2">
                <div class="flex-grow-1">
                    <i class="fa-regular"
                       [ngClass]="log.logType === SiteLogType.Note ? 'fa-file-lines' : (log.logType === SiteLogType.CompletedReminder ? 'fa-clock text-secondary' : 'fa-clock')"></i>
                    <span class="fw-semibold ms-1">{{ log.createdTime | date }}</span>
                    <span class="ms-3" *ngIf="log.createdBy?.email">
                        <span class="fw-semibold">User:</span> {{ log.createdBy?.email }}
                    </span>
                </div>
                <div class="d-flex gap-2 align-items-center flex-shrink-0 fs-5" *ngIf="canModify">
                    <a href="javascript:void(0)" class="text-primary" (click)="editLog(log)" title="Edit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="javascript:void(0)" class="text-danger" (click)="deleteLog(log)" title="Delete">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                    <a *ngIf="isFirst" href="javascript:void(0)" class="text-success" (click)="addLog()" title="Add">
                        <i class="fa-solid fa-file-circle-plus"></i>
                    </a>
                </div>
            </div>

            <div class="mt-1" *ngIf="log.logType !== SiteLogType.Note && log.reviewDate">
                <span class="fw-semibold">Review Date:</span>
                <span class="badge rounded-pill ms-1"
                      [ngClass]="reviewDateStatusClasses[log.reviewDateStatus || 0]">{{ log.reviewDate | date }}</span>
            </div>

            <hr class="my-1" />

            <p class="mb-0 ps-2" *ngIf="log.noteText">{{ log.noteText }}</p>

            <p class="mb-0 mt-1 ps-2" *ngIf="log.fileAttachmentName">
                <a *ngIf="!log.skipFile" href="javascript:void(0)" (click)="openAttachment(log)">
                    <i class="fa-solid fa-paperclip me-1"></i>{{ log.fileAttachmentName }}
                </a>
                <span *ngIf="log.skipFile">
                    <i class="fa-solid fa-paperclip me-1"></i>{{ log.fileAttachmentName }}
                </span>
            </p>
        </div>
    </ng-container>

    <div *ngIf="logs.length > 1" class="text-center">
        <a href="javascript:void(0)" (click)="logsExpanded = !logsExpanded">
            {{ logsExpanded ? 'Show less...' : 'Show more...' }}
        </a>
    </div>
</ng-container>
