<div class="text-center mb-3">
    <h1 class="h2">
        User Management
    </h1>
</div>

<vp-section header="User Accounts">
    <dp-loading-spinner *ngIf="table.isLoading"></dp-loading-spinner>

    <vp-table *ngIf="table.items"
              [columns]="table.columns!"
              [data]="table.items.data"
              [canAdd]="canAdd"
              (add)="add()"
              [canEdit]="canEdit"
              (edit)="edit($event)"
              [canDelete]="canDelete"
              (delete)="delete($event)"
              [(pageInfo)]="table.items.pageInfo"
              (pageInfoChange)="getUsers()"
              [(query)]="table.query"
              (queryChange)="getUsers()"
              (queryReset)="getUsers()"
              [freeTextSearch]="table.freeTextSearch" />
</vp-section>