/*Style from old project main_back.css*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: inherit !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    transition: background-color 9999s ease-out 0s;
}


:root {
    --font-size: .8rem;
    --bs-body-bg: #fff;
    --body-bg: #ccc;
    --bs-body-color: #000;
    --bs-light-body-color: #555;
    --bs-emphasis-color: var(--bs-body-color);
    --bs-emphasis-color-rgb: 0, 0, 0;
    --a-color: #0084c3;
    --a-hover-color: #006596;
    --page-title-color: #333;
    --page-title-shadow-color: #555;
    --page-message-color: #008fd4;
    --page-message-color-success: #0c0;
    --page-message-color-warning: #ea0;
    --page-message-color-error: #f00;
    --page-message-bg-color: #fff;
    --page-message-bg-color-success: #e3ffe3;
    --page-message-bg-color-warning: #fff7ca;
    --page-message-bg-color-error: #fdd;
    --page-message-border-color: #008fd4;
    --page-message-border-color-success: #0c0;
    --page-message-border-color-warning: #ff8200;
    --page-message-border-color-error: #f00;
    --form-select-bg-img: url('/assets/img/down_arrow_light.png');
    --bs-secondary-color: #888;
    --bs-secondary-bg: #f5f5f5;
    --control-bg-color: #f5f5f5;
    --control-update-bg-color: #e0e0ff;
    --control-focus-bg-color: #eee;
    --control-border-color: #ccc;
    --bs-border-color: #ccc;
    --border-box-border-color: #008fd4;
    --border-box-bg-color: #fff;
    /*--border-box-header-bg-color: #a0b5cf;*/
    --border-box-header-bg-color: #008fd4a0;
    --border-box-title-color: #fff;
    --border-box-title-shadow-color: #0004;
    /*--border-box-shadow-color: #008fd440;*/
    --border-box-shadow-color: #09d6;
    --border-box-shadow-width: 15px;
    --test-search-border-color: #008fd4b0;
    --test-search-border-color-alt: #c0c0c0;
    --test-search-bg-color: #008fd420;
    --test-search-bg-color-alt: #f5f5f5;
    --bs-table-bg: var(--border-box-bg-color);
    --bs-modal-bg: transparent;
    --field-label-color: #405060;
    --image-cell-header-bg-color: #ccc;
    --data-table-border-color: #aaa;
    --data-table-column-border-color: #aaa;
    --data-table-column-bg-color: #ddd;
    --data-table-cell-border-color: #ddd;
    /*--data-table-cell-bg-color: #fff;*/
    --data-table-cell-bg-color: transparent;
    --data-table-cell-alt-row-bg-color: #eee;
    --data-table-weekend-bg-color: #0031;
    --btn-primary: #0d6efd;
    --form-control-focus-border-color: #008fd440;
    --overview-box-hover-bg-color: #caedff;
    --overview-box-icon-color: var(--steelblue);
    --account-overview-top-icon-color: var(--steelblue);
    --test-cell-disabled-color: #ccc;
    --datetime-background-image: url('/images/calendar_light.png');
    --white: #fff;
    --red: #f00;
    --green: #0b0;
    --blue: #00d;
    --steelblue: #008fd4;
    --cyan: #00dbdb;
    --orange: #e80;
    --yellow: #d1c901;
    --magenta: #ff00dc;
    --purple: #4800ff;
    --gray: #777;
    --light-red: #f004;
    --light-green: #0b04;
    --light-blue: #00f4;
    --light-steelblue: #008fd460;
    --light-cyan: #00dbdb60;
    --light-orange: #e806;
    --light-yellow: #d1c90160;
    --light-magenta: #ff00dc60;
    --light-purple: #4800ff60;
}

[data-theme="dark"] {
    --bs-body-bg: #111;
    --body-bg: #222;
    --bs-body-color: #eee;
    --bs-light-body-color: #ccc;
    --bs-emphasis-color: var(--bs-body-color);
    --bs-emphasis-color-rgb: 240, 240, 240;
    --a-color: #c0ebff;
    --a-hover-color: #fff;
    --page-title-color: #eee;
    --page-title-shadow-color: #000;
    --page-message-color: #008fd4;
    --page-message-color-success: #0c0;
    --page-message-color-warning: #fe0;
    --page-message-color-error: #f00;
    --page-message-bg-color: #008fd420;
    --page-message-bg-color-success: #012401;
    --page-message-bg-color-warning: #503602;
    --page-message-bg-color-error: #300;
    --page-message-border-color: #008fd4;
    --page-message-border-color-success: #0c0;
    --page-message-border-color-warning: #fc0;
    --page-message-border-color-error: #f00;
    --form-select-bg-img: url('/assets/img/down_arrow_dark.png');
    --bs-secondary-color: #999;
    --bs-secondary-bg: #151515;
    --control-bg-color: #151515;
    --control-update-bg-color: #151535;
    --control-focus-bg-color: #333;
    --control-border-color: #555;
    --bs-border-color: #555;
    --border-box-border-color: #0061ca;
    --border-box-bg-color: #000;
    --border-box-header-bg-color: #008fd480;
    /*--border-box-header-bg-color: #1a2029;*/
    --border-box-title-color: #fff;
    --border-box-title-shadow-color: #000f;
    --border-box-shadow-color: #008fd460;
    --border-box-shadow-width: 10px;
    --test-search-border-color: #008fd4b0;
    --test-search-border-color-alt: #808080;
    --test-search-bg-color: #008fd430;
    --test-search-bg-color-alt: #202020;
    /*--bs-table-bg: var(--border-box-bg-color);*/
    --bs-table-bg: #000;
    --bs-modal-bg: transparent;
    --field-label-color: #c0d0e0;
    --image-cell-header-bg-color: #555;
    --data-table-border-color: #444;
    --data-table-column-border-color: #555;
    --data-table-column-bg-color: #222;
    --data-table-cell-border-color: #222;
    /*--data-table-cell-bg-color: #000;*/
    --data-table-cell-bg-color: transparent;
    --data-table-cell-alt-row-bg-color: #111;
    --data-table-weekend-bg-color: #eef1;
    --btn-primary: #0d6efd;
    --form-control-focus-border-color: #508fd4d0;
    --overview-box-hover-bg-color: #008fd415;
    --overview-box-icon-color: #008ed4;
    --account-overview-top-icon-color: var(--light-steelblue);
    --test-cell-disabled-color: #888;
    --datetime-background-image: url('/images/calendar_light.png');
    --white: #fff;
    --red: #c00;
    --green: #0a0;
    --blue: #00c;
    --steelblue: #003f84;
    --cyan: #00dbdb;
    --orange: #ee7000;
    --yellow: #d1c901;
    --magenta: #ff00dc;
    --purple: #4800ff;
    --gray: #888;
    --light-red: #f004;
    --light-green: #0806;
    --light-blue: #00c6;
    --light-steelblue: #b4daec;
    --light-cyan: #00dbdb60;
    --light-orange: #a306;
    --light-yellow: #d1c90160;
    --light-magenta: #ff00dc60;
    --light-purple: #4800ff60;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
html, body {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    margin: 0;
    /*font-family: sans-serif, "Raleway";*/
    /*    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: var(--font-size);
    color: var(--bs-body-color);
    background: var(--body-bg);
    min-height: 100vh;
    overflow-x: hidden;*/
    /*    padding-top: 60px;*/
}


a {
    text-decoration: none;
/*    font-weight: 500;
*/    color: var(--a-color);
}

    a:hover {
        /*color: #8ec4dd;*/
        color: var(--a-hover-color);
        text-decoration: underline;
    }

#mainContent {
    margin-top: 80px;
    /*min-height: 100vh;*/
    padding-bottom: 10px;
}

#divContent {
    height: 100%;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.field-label {
    font-weight: 600 !important;
    margin: 8px 0px 0px 0px;
}

.label {
    font-weight: 600 !important;
    margin: 0px 0px 0px 0px;
    /*padding: 0px 8px 0px 0px;*/
    text-align: right;
    vertical-align: middle;
    align-content: center;
    white-space: nowrap;
}

.top-label {
    font-weight: 500;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

.label.top {
    vertical-align: top;
    align-content: start;
    padding-top: 10px;
}

.label.left {
    text-align: left;
    /*padding: 0px 0px 0px 0px !important;*/
}

.label.wrap {
    white-space: normal !important;
}

.form-control {
    background: var(--control-bg-color);
    border: 1px solid var(--control-border-color);
}

    .form-control:focus {
        background: var(--control-focus-bg-color);
        box-shadow: 0 0 0 .25rem var(--form-control-focus-border-color);
    }

.password-eye {
    font-size: 16px;
    margin-left: 5px;
}

.wslist {
    /*    border: 2px solid #008fd4;
    background: var(--body-bg);
    border-radius: 20px;*/
    margin: 40px 50px;
    /*padding: 25px 20px;*/
}

    .wslist h3 {
        color: #008fd4;
        font-size: 22px;
        font-weight: 700;
    }

    .wslist h4 {
        color: #008fd4;
        margin: 5px 0px 0px 15px;
        font-size: 18px;
        font-weight: 700;
    }

    .wslist a {
        font-size: 13px;
        color: var(--bs-body-color);
        margin-left: 30px;
        padding: 8px 0px
    }

    .wslist i {
        font-size: 24px;
        color: #008fd4;
        margin-left: 10px;
        vertical-align: middle;
    }

    .wslist div.sub-accounts {
        margin-left: 15px;
        margin-bottom: 15px;
    }


div.error {
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--bs-body-color);
    border-radius: 8px;
    border: 2px solid var(--page-message-border-color-error);
    background-color: var(--page-message-bg-color-error);
}

.status-icons img {
    margin: 0px 2px;
}

#divProgress .progressbar {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20rem;
    height: 5rem;
    background-color: white;
    color: #111;
    font-size: .85rem;
    font-weight: 600;
    margin: -40px 0 0 -140px;
    border-radius: 2rem;
    border: 0;
}

.loading-message {
    font-size: .85rem;
    font-weight: 600;
    padding-top: 10px;
}

.colspacer {
    min-width: 15px;
    max-width: 15px;
}

.image-cell {
    border: 1px solid #888;
    border-radius: 10px;
    background: #a0a0a020;
    /*padding: 10px;*/
    /*margin: 10px;*/
    height: 100%;
}

    .image-cell .cell-header {
        background: var(--image-cell-header-bg-color);
        border-radius: 10px 10px 0px 0px;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        padding: 3px 10px;
    }

    .image-cell .cell-footer {
        background: var(--image-cell-header-bg-color);
        border-radius: 0px 0px 10px 10px;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        padding: 3px 10px;
    }

.image-upload {
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    background: var(--gray);
}

    .image-upload.gray {
        background: var(--gray);
    }

    .image-upload.green {
        background: var(--light-green);
    }

.sub-header {
    border: 1px solid var(--data-table-column-border-color);
    border-bottom: 1.5px solid var(--data-table-column-border-color);
    background-color: var(--data-table-column-bg-color);
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    padding: 3px 8px;
}

    .sub-header .content {
        padding-left: 15px;
    }

.crit-description {
    font-size: 1rem;
    font-weight: 600;
}

.no-wrap {
    white-space: nowrap;
}

i.overview {
    color: var(--account-overview-top-icon-color);
    font-size: 24px;
    margin: 0px 10px 0px 10px;
    vertical-align: middle;
}

.overview {
    font-size: 15px;
    font-weight: 600;
    margin: 4px 0px 0px 0px;
    vertical-align: middle;
}

i.schedule {
    color: var(--account-overview-top-icon-color);
    font-size: 30px;
    vertical-align: middle;
}

.image-view {
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
    margin: 20px;
}

.image-view-header {
    color: #ffffffc0;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

    .image-view-header i {
        color: #ffffffc0;
        font-size: 40px;
        margin-left: 15px;
    }

.image-view img {
    max-width: calc(100vw - 80px);
    max-height: calc(100vh - 100px);
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Page Title & Messages
--------------------------------------------------------------*/
.page-title {
    margin-top: 0px;
    color: var(--page-title-color);
}

    .page-title h2 {
        font-size: 2rem;
        font-weight: 700;
        /*text-shadow: 0px 0px 3px var(--page-title-shadow-color);*/
        /*    text-decoration: none;
    text-decoration-color: #008fd4;
    text-decoration-thickness: 5px;*/
    }

.page-message {
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: var(--bs-body-color);
    border: 2px solid var(--page-message-border-color);
    border-radius: 8px;
    background-color: var(--page-message-bg-color);
}

    .page-message.success {
        border: 2px solid var(--page-message-border-color-success);
        background-color: var(--page-message-bg-color-success);
    }

    .page-message.warning {
        border: 2px solid var(--page-message-border-color-warning);
        background-color: var(--page-message-bg-color-warning);
    }

    .page-message.error {
        border: 2px solid var(--page-message-border-color-error);
        background-color: var(--page-message-bg-color-error);
    }

    .page-message i {
        color: var(--page-message-color);
        font-size: 34px;
        vertical-align: top;
        padding: 0px 15px;
    }

    .page-message p {
        margin: 0px;
        padding: 4px 0px;
    }

    .page-message.success i {
        color: var(--page-message-color-success);
    }

    .page-message.warning i {
        color: var(--page-message-color-warning);
    }

    .page-message.error i {
        color: var(--page-message-color-error);
    }

    .page-message h4 {
        font-size: 15px;
        font-weight: 600;
        text-align: left;
        margin: 0px;
        padding-right: 15px;
    }

    .page-message hr {
        height: 5px;
        border: 1px solid var(--page-message-border-color);
        background: var(--page-message-border-color);
        margin: 0px;
        opacity: .5 !important;
    }

    .page-message.success hr {
        border: 1px solid var(--page-message-border-color-success);
        background-color: var(--page-message-border-color-success);
    }

    .page-message.warning hr {
        border: 1px solid var(--page-message-border-color-warning);
        background-color: var(--page-message-border-color-warning);
    }

    .page-message.error hr {
        border: 1px solid var(--page-message-border-color-error);
        background-color: var(--page-message-border-color-error);
    }

    .page-message .info {
        font-size: .6rem;
        font-weight: 600 !important;
        text-align: left;
    }

    .page-message .message {
        font-size: .75rem;
        font-weight: normal !important;
        text-align: left;
        margin-top: 5px;
        padding-left: 15px;
    }

/*--------------------------------------------------------------
# Bordered Box
--------------------------------------------------------------*/
section.border-box {
    margin: 0px 0px;
    overflow: hidden;
    border: 1px solid var(--border-box-border-color);
    border-radius: 15px;
    background: var(--border-box-bg-color);
    /*box-shadow: var(--border-box-shadow-color) 0px 0px var(--border-box-shadow-width);*/
    box-shadow: none;
    padding: 0;
    width: 100%;
    /*height: 100%;*/
}

    section.border-box h4 {
        font-size: 1.2rem;
        font-weight: 700;
    }

    section.border-box.max-height {
        height: 100%;
    }

    section.border-box.no-margins {
        margin: 0px 0px;
    }

    section.border-box .header {
        margin: 0;
        padding: 2px 10px;
        background: var(--border-box-header-bg-color);
        color: var(--border-box-header-color);
        /*box-shadow: #aaa 0px 1px 10px;*/
        text-align: center;
    }

        section.border-box .header .title {
            text-align: center;
            margin: 2px 0px;
        }

            section.border-box .header .title h3 {
                font-size: 1.0rem;
                font-weight: 600;
                color: var(--border-box-title-color);
                padding: 0;
                margin: 0;
                /*text-shadow: 0px 0px 3px var(--border-box-title-shadow-color);*/
            }

            section.border-box .header .title i {
                font-size: 1.2rem;
                font-weight: 700;
                color: var(--border-box-title-color);
                padding: 0;
                margin-right: 10px;
            }

        section.border-box .header .title-right {
        }

    section.border-box .content {
        padding: 5px 15px 15px 15px;
        --bs-gutter-y: 10px;
        overflow: visible;
    }

        section.border-box .content.no-margins {
            margin: 0px;
            padding: 0px;
        }


/*--------------------------------------------------------------
# Data Table
--------------------------------------------------------------*/
.data-table {
    /*border: 1.5px solid var(--data-table-border-color);*/
    /*background: #fff;*/
    background: transparent;
    margin: 2px 0 0 0;
    width: 100%;
    font-size: .75rem;
}

    .data-table th {
        border: 1px solid var(--data-table-column-border-color);
        border-bottom: 1.5px solid var(--data-table-column-border-color);
        background-color: var(--data-table-column-bg-color);
        text-align: center;
        vertical-align: middle;
        font-weight: 600;
        padding: 3px 8px;
    }

        .data-table th.left {
            text-align: left;
        }

        .data-table th.right {
            text-align: right;
        }

    .data-table td {
        border: solid 1px var(--data-table-cell-border-color) !important;
        background-color: var(--data-table-cell-bg-color);
        padding: 3px 8px;
        text-align: left;
        vertical-align: middle;
    }

    .data-table.no-grid td {
        border: none !important;
    }

    .data-table table td {
        border: none !important;
        background-color: var(--data-table-cell-bg-color);
        padding: 3px 8px;
        text-align: left;
        vertical-align: middle;
    }

    .data-table td.white {
        background-color: var(--white);
    }

    .data-table td.red {
        background-color: var(--red);
    }

    .data-table td.green {
        background-color: var(--green);
    }

    .data-table td.blue {
        background-color: var(--blue);
    }

    .data-table td.cyan {
        background-color: var(--cyan);
    }

    .data-table td.blue {
        background-color: var(--blue);
    }

    .data-table td.orange {
        background-color: var(--orange);
    }

    .data-table td.yellow {
        background-color: var(--yellow);
    }


    .data-table td.light-red {
        background-color: var(--light-red);
    }

    .data-table td.light-green {
        background-color: var(--light-green);
    }

    .data-table td.light-blue {
        background-color: var(--light-blue);
    }

    .data-table td.light-cyan {
        background-color: var(--light-cyan);
    }

    .data-table td.light-blue {
        background-color: var(--light-blue);
    }

    .data-table tdlight-.orange {
        background-color: var(--light-orange);
    }

    .data-table td.light-yellow {
        background-color: var(--light-yellow);
    }

    .data-table td.weekend {
        background-color: var(--data-table-weekend-bg-color);
    }

    .data-table .no-padding {
        padding: 0px 0px;
    }

    .data-table i {
        font-size: 20px;
        color: #008fd4;
        margin: 2px 2px;
    }

.data-table-cell-alt-row {
    border: solid 1px var(--data-table-cell-border-color);
    background-color: var(--data-table-cell-alt-row-bg-color) !important;
    padding: 3px 8px 3px 8px;
}

.data-table.no-borders td {
    border: 0px none transparent;
}

.data-table.align-top td {
    vertical-align: top;
}

.table-header {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.test-search {
    border: 10px solid var(--test-search-border-color);
    border-radius: 10px;
    background-color: var(--test-search-bg-color);
    padding: 15px;
    margin: 20px 0px;
}

    .test-search.alt {
        border: 10px solid var(--test-search-border-color-alt);
        background-color: var(--test-search-bg-color-alt);
    }

table td.col-header {
    border: 1px solid var(--data-table-column-border-color);
    border-bottom: 1.5px solid var(--data-table-column-border-color);
    background-color: var(--data-table-column-bg-color);
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    padding: 3px 8px;
}

/*--------------------------------------------------------------
# Out of Service Table
--------------------------------------------------------------*/
table.oos-header {
    color: var(--border-box-title-color);
    border-radius: 15px 15px 0px 0px;
    background-color: var(--border-box-header-bg-color);
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    padding: 3px 20px;
    width: 100%;
}

    table.oos-header td.header-left {
        text-align: left;
        vertical-align: middle;
        font-weight: 600;
        padding-left: 20px;
        width: 100%;
    }

    table.oos-header td.header-right {
        text-align: left;
        padding: 5px 8px 5px 2px;
    }

table td.oos {
    border: solid 1px var(--data-table-cell-border-color) !important;
    background-color: var(--data-table-cell-bg-color);
    padding: 3px 8px;
    text-align: left;
    vertical-align: middle;
}

    table td.oos.replacement {
        background-color: var(--data-table-cell-alt-row-bg-color);
    }

/*--------------------------------------------------------------
    Compliance
--------------------------------------------------------------*/
.compliance-percent-main {
    font-size: 50px;
    font-weight: bold;
}

.compliance-percent-report {
    font-size: 80px;
    font-weight: bold;
}

table.compliance {
    vertical-align: middle;
}

    table.compliance td {
        padding: 2px 7px;
        text-align: left;
    }

        table.compliance td div.legend {
            width: 40px;
            height: 18px;
        }

        table.compliance td div.total {
            border: 1px solid var(--bs-body-color);
            background: transparent;
        }

        table.compliance td div.comp {
            border: 1px solid var(--bs-body-color);
            background: var(--green);
        }

        table.compliance td div.noncomp {
            border: 1px solid var(--bs-body-color);
            background: var(--red);
        }

/*--------------------------------------------------------------
# Controls
--------------------------------------------------------------*/
input[type=checkbox] {
    margin-right: 8px;
}

input[type=file] {
    padding-left: 10px;
}

    input[type=file]::file-selector-button {
        border: 1px solid #ccc;
        padding: 3px 15px;
        border-radius: 5px;
        background: var(--steelblue);
        font-size: var(--font-size);
        font-weight: 600;
    }

        input[type=file]::file-selector-button:hover {
            background: #f00;
        }

li {
    padding: 4px 0px;
}

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
.link-button,
button,
button[type=button],
button[type=submit],
button[type=reset],
input[type=button],
input[type=submit],
input[type=reset] {
    color: #fff;
    background-color: var(--steelblue);
    border: 1px solid #ccc;
    border-radius: 5px;
    /*font-size: .95rem;*/
    font-size: var(--font-size);
    font-weight: 600;
    /*padding: 10px 30px;*/
    padding: 8px 25px;
    white-space: nowrap;
}

    .link-button i,
    button.i,
    button[type=button] i,
    button[type=submit] i,
    button[type=reset] i,
    input[type=button] i,
    input[type=submit] i,
    input[type=reset] i {
        font-size: .9rem;
        color: #fff;
        margin: 0px 10px 0px 0px;
    }

    .link-button.xs,
    button.xs,
    button[type=button].xs,
    button[type=submit].xs,
    button[type=reset].xs,
    input[type=button].xs,
    input[type=submit].xs,
    input[type=reset].xs {
        font-size: .75rem;
        font-weight: normal;
        padding: .5px 4px;
    }

    .link-button.sm,
    button.sm,
    button[type=button].sm,
    button[type=submit].sm,
    button[type=reset].sm,
    input[type=button].sm,
    input[type=submit].sm,
    input[type=reset].sm {
        font-size: var(--font-size);
        font-weight: 600;
        padding: 3px 8px;
    }

    .link-button.md,
    button.md,
    button[type=button].md,
    button[type=submit].md,
    button[type=reset].md,
    input[type=button].md,
    input[type=submit].md,
    input[type=reset].md {
        font-size: var(--font-size);
        font-weight: 600;
        padding: 6px 12px;
    }

    .link-button:hover,
    button:hover,
    button[type=button]:hover,
    button[type=submit]:hover,
    button[type=reset]:hover,
    input[type=button]:hover,
    input[type=submit]:hover,
    input[type=reset]:hover {
        color: #fff;
        background-color: #3282b8;
        border-color: #dde3eb;
    }

    .link-button.red,
    button.red,
    button[type=button].red,
    button[type=submit].red,
    button[type=reset].red,
    input[type=button].red,
    input[type=submit].red,
    input[type=reset].red {
        background-color: var(--red);
    }

    .link-button.green,
    button.green,
    button[type=button].green,
    button[type=submit].green,
    button[type=reset].green,
    input[type=button].green,
    input[type=submit].green,
    input[type=reset].green {
        background-color: var(--green);
    }

    .link-button.orange,
    button.orange,
    button[type=button].orange,
    button[type=submit].orange,
    button[type=reset].orange,
    input[type=button].orange,
    input[type=submit].orange,
    input[type=reset].orange {
        background-color: var(--orange);
    }

    .link-button.block,
    button.block,
    button[type=button].block,
    button[type=submit].block,
    button[type=reset].block,
    input[type=button].block,
    input[type=submit].block,
    input[type=reset].block {
        width: 100%;
    }

    .link-button:disabled,
    button:disabled,
    button[type=button]:disabled,
    button[type=submit]:disabled,
    button[type=reset]:disabled,
    input[type=button]:disabled,
    input[type=submit]:disabled,
    input[type=reset]:disabled {
        background-color: #c0c0c0;
        border: 1px solid #888;
        color: #666;
    }

/*--------------------------------------------------------------
# Page LinkButton Navigation
--------------------------------------------------------------*/
a.page-button {
    font-size: 1.1rem;
    margin: 3px 3px;
    vertical-align: middle;
    color: #08d;
}

    a.page-button.aspNetDisabled {
        color: #aaa;
    }

span.page-label {
    margin: 0px 10px;
    vertical-align: middle;
}

/*--------------------------------------------------------------
# tabs
--------------------------------------------------------------*/
.link-button.tab,
button.tab,
button[type=button].tab,
button[type=submit].tab,
button[type=reset].tab,
input[type=button].tab,
input[type=submit].tab,
input[type=reset].tab {
    border: 1px solid #ccc;
    border-radius: 13px 13px 4px 4px;
    background-color: #008fd4a0;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 25px;
    margin: 0px 2px;
    vertical-align: bottom;
}

    .link-button.tab.sm,
    button.tab.sm,
    button[type=button].tab.sm,
    button[type=submit].tab.sm,
    button[type=reset].tab.sm,
    input[type=button].tab.sm,
    input[type=submit].tab.sm,
    input[type=reset].tab.sm {
        font-size: 12px !important;
        padding: 3px 10px;
    }

    .link-button.tab.selected,
    button.tab.selected,
    button[type=button].tab.selected,
    button[type=submit].tab.selected,
    button[type=reset].tab.selected,
    input[type=button].tab.selected,
    input[type=submit].tab.selected,
    input[type=reset].tab.selected {
        border: 1px solid #fff;
        background-color: #008fd4;
        padding: 5px 25px;
    }

    .link-button.tab i,
    button.tab i,
    button[type=button].tab i,
    button[type=submit].tab,
    button[type=reset].tab i,
    input[type=button].tab i,
    input[type=submit].tab i,
    input[type=reset].tab i {
        font-size: 16px;
        margin: 0px 5px 0px 0px;
        vertical-align: middle;
    }

        .link-button.tab.red,
        button.tab.red,
        button[type=button].tab.red,
        button[type=submit].tab.red,
        button[type=reset].tab.red,
        input[type=button].tab.red,
        input[type=submit].tab.red,
        input[type=reset].tab.red {
            background-color: var(--red);
        }

        .link-button.tab.green,
        button.tab.green,
        button[type=button].tab.green,
        button[type=submit].tab.green,
        button[type=reset].tab.green,
        input[type=button].tab.green,
        input[type=submit].tab.green,
        input[type=reset].tab.green {
            background-color: var(--green);
        }

        .link-button.tab.orange,
        button.tab.orange,
        button[type=button].tab.orange,
        button[type=submit].tab.orange,
        button[type=reset].tab.orange,
        input[type=button].tab.orange,
        input[type=submit].tab.orange,
        input[type=reset].tab.orange {
            background-color: var(--orange);
        }

/*--------------------------------------------------------------
# quick search
--------------------------------------------------------------*/
div.quick-search {
    position: absolute;
    display: block;
    float: left;
    z-index: 999;
    background: var(--control-bg-color);
    border: 1px solid var(--control-border-color);
    border-radius: 10px;
    margin-top: 5px;
}

    div.quick-search select {
        font-size: .9rem !important;
        overflow: hidden;
    }

    div.quick-search option {
        padding: 8px 5px;
    }

/*--------------------------------------------------------------
# colored pills
--------------------------------------------------------------*/
.pill {
    display: inline-block;
    border: 1px solid #888;
    border-radius: 12px;
    background-color: #09d;
    color: #fff;
    /*text-shadow: 0px 0px 4px #000;*/
    padding: 4px 10px;
    margin: 1px 0px 1px 0px;
    width: 100%;
    white-space: nowrap;
}

    .pill.sm {
        padding: 1px 7px;
    }

    .pill.red {
        background-color: #f00;
    }

    .pill.yellow {
        background-color: #eec700;
    }

    .pill.orange {
        background-color: #e80;
    }

    .pill.green {
        background-color: #0a0;
    }

    .pill.cyan {
        background-color: #da0;
    }

    .pill.blue {
        background-color: #07f;
    }

    .pill.gray {
        background-color: #888a;
    }

    .pill.sm.red {
        background-color: #f00;
    }

    .pill.sm.yellow {
        background-color: #eec700;
        color: #222;
    }

    .pill.sm.orange {
        background-color: #e80;
        color: #222;
    }

    .pill.sm.green {
        background-color: #0a0;
    }

    .pill.sm.cyan {
        background-color: #da0;
    }

    .pill.sm.blue {
        background-color: #07f;
    }

    .pill.sm.gray {
        background-color: #888a;
    }

    .pill.sm.clear {
        border: none;
        background-color: transparent;
        text-shadow: none;
        color: var(--bs-body-color);
    }

/*--------------------------------------------------------------
# site log containers
--------------------------------------------------------------*/
.site-log-container {
}

    .site-log-container .log-box {
        border: 1px solid #9994;
        border-radius: 10px;
        background: #9991;
        padding: 5px 7px;
    }

        .site-log-container .log-box hr {
            border: none;
            height: 5px;
            background-color: #9998;
            margin-top: 4px !important;
            margin-bottom: 4px !important;
        }

/*--------------------------------------------------------------
# colored box icons
--------------------------------------------------------------*/
i .square {
    border: 1px solid #ccc;
    background: transparent;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}

    i.square.red {
        border: 1px solid #a00;
        background: #f00;
    }

    i.square.orange {
        border: 1px solid #a40;
        background: #e80;
    }

    i.square.green {
        border: 1px solid #080;
        background: #0a0;
    }

    i.square.cyan {
        border: 1px solid #a80;
        background: #da0;
    }

    i.square.blue {
        border: 1px solid #03a;
        background: #07f;
    }

    i.square.clear {
        background: transparent;
    }


/*--------------------------------------------------------------
# Toggle Switch
--------------------------------------------------------------*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

    .theme-switch input {
        display: none;
    }

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }

input:checked + .slider {
    background-color: #66bb6a;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }



/*--------------------------------------------------------------
# Bootstrap Overrides
--------------------------------------------------------------*/
.table-borderless td {
    border: 0px none black;
}

table {
    background: transparent;
    background-color: transparent;
    /*background: var(--border-box-bg-color);*/
    border: 0px none black;
}

    table td {
        background: transparent;
        background-color: transparent;
        /*background: var(--border-box-bg-color);*/
        border: 0px none black;
    }

.table {
    background: transparent;
    background-color: transparent;
    /*background: var(--border-box-bg-color);*/
    border: 0px none black;
    margin-bottom: 0px;
}

    .table tr {
        background: transparent;
        background-color: transparent;
        /*background: var(--border-box-bg-color);*/
        border: 0px none black;
    }

    .table td {
        background: transparent;
        background-color: transparent;
        /*background: var(--border-box-bg-color);*/
        border: 0px none black;
    }

.modal-content {
    background-color: transparent;
}

.row {
    /*margin: 5px 0px 5px 0px;*/
}


hr.checkout {
    margin: 0px;
    width: 100%;
    height: 7px;
    /*border: 2px solid var(--bs-body-color) !important;*/
    background: var(--bs-body-color) !important;
    /*color: var(--bs-body-color) !important;*/
    opacity: .2;
}

b, strong {
    font-weight: 600;
}

::-webkit-calendar-picker-indicator {
    background-image: var(--datetime-background-image);
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--bs-body-color) !important;
    -webkit-box-shadow: 0 0 0 1rem var(--control-bg-color) inset !important;
    background-clip: content-box !important;
}

.form-control.form-control-inline {
    display: inline !important;
}

select.form-select {
    font-size: .8rem !important;
}

select.form-select-inline {
    width: auto !important;
    display: inline !important;
}

.form-select {
    background-color: var(--control-bg-color);
    background-image: var(--form-select-bg-img);
}

    .form-select:disabled {
        background: var(--control-bg-color) !important;
    }

.form-check-input {
    margin: 0px 2px;
    white-space: nowrap;
    border: none;
}

    .form-check-input input[type=radio] {
        vertical-align: middle;
    }

    .form-check-input label {
        margin-left: 3px;
    }

/*--------------------------------------------------------------
# Overview
--------------------------------------------------------------*/
div .overview-box {
    border: 1px solid var(--border-box-bg-color);
    background-color: var(--border-box-bg-color);
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    color: var(--bs-body-color);
}

    div .overview-box:hover {
        border: 1px solid var(--data-table-column-border-color);
        background-color: #008fd415;
    }

    div .overview-box.bordered {
        border: 1px solid var(--border-box-border-color);
        background-color: var(--border-box-bg-color);
    }

        div .overview-box.bordered:hover {
            /*border: 1px solid var(--data-table-column-border-color);*/
            background-color: var(--overview-box-hover-bg-color);
        }

    div .overview-box.red i {
        color: var(--red);
    }

    div .overview-box.green i {
        color: var(--green);
    }

    div .overview-box.orange i {
        color: var(--orange);
    }

    div .overview-box.red .number-box {
        background: var(--red) !important;
    }

    div .overview-box.green .number-box {
        background: var(--green) !important;
    }

    div .overview-box.orange .number-box {
        background: var(--orange) !important;
    }

    div .overview-box td {
        padding: 5px 5px;
        margin: 2px 0px;
        vertical-align: middle;
        white-space: nowrap;
        text-align: left;
    }

        div .overview-box td .label-text {
            text-align: left;
            white-space: nowrap;
            width: 100%;
        }

        div .overview-box td i {
            color: var(--overview-box-icon-color);
            font-size: 20px;
            vertical-align: bottom;
        }

    div .overview-box .number-box {
        color: #fff;
        border: 1px solid var(--bs-body-color);
        border-radius: 8px;
        background: var(--steelblue);
        text-align: center;
        padding: 3px 5px;
        min-width: 40px;
    }

        div .overview-box .number-box i {
            color: #fff;
        }

        div .overview-box .number-box.red {
            border: 1px solid var(--bs-body-color);
            background: var(--red);
        }

        div .overview-box .number-box.green {
            border: 1px solid var(--bs-body-color);
            background: var(--green);
        }

        div .overview-box .number-box.orange {
            border: 1px solid var(--bs-body-color);
            background: var(--orange);
        }

/*--------------------------------------------------------------
# WG Evaluation
--------------------------------------------------------------*/
span.evalzone {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    width: 28px;
    height: 22px;
    color: #ffffff;
    border: solid 1px #a0a0a0;
    background-color: #008fd4;
    border-radius: 8px;
    padding: 3px 8px 3px 8px;
    margin: 1px 2px 1px 2px;
}

    span.evalzone.red {
        color: #ffffff;
        background-color: #d00000;
    }

    span.evalzone.yellow {
        color: #000;
        background-color: #ffea00;
    }

/*--------------------------------------------------------------
# Backflow Test Submit
--------------------------------------------------------------*/
.test-cell {
    border: solid 1px #808080a0 !important;
    background: transparent;
}

    .test-cell.disabled {
        border: 1px solid #808080a0 !important;
        background: var(--data-table-column-bg-color);
    }

    .test-cell.red {
        border: 2px solid var(--red) !important;
        background: var(--light-red);
    }

    .test-cell.green {
        border: 2px solid var(--green) !important;
        background: var(--light-green);
    }

    .test-cell.blue {
        border: 2px solid var(--blue) !important;
        background: var(--light-blue);
    }

    .test-cell.gray {
        border: 1px solid #808080a0 !important;
        background: var(--data-table-column-bg-color);
    }

/*--------------------------------------------------------------
# property description
--------------------------------------------------------------*/
.property-description {
}

    .property-description i {
        font-size: 1rem;
    }

    .property-description .address {
        padding-left: 10px;
    }

/*--------------------------------------------------------------
# Training
--------------------------------------------------------------*/
.video-box {
    border: 1px solid #aaa;
    border-radius: 15px;
    background: #aaa2;
    padding: 15px;
    height: 100%;
}

    .video-box:hover {
        background: #fff2;
        cursor: pointer;
    }

    .video-box a:hover {
        text-decoration: none !important;
    }

    .video-box h4 {
        font-size: 15px;
        font-weight: 600;
        color: #008fd4;
    }

    .video-box i {
        font-size: 36px;
        color: #008fd4;
    }

    .video-box p {
        font-weight: 600;
        color: var(--bs-body-color);
    }

.video-help-icon {
    font-size: 40px;
    color: #008fd4;
}


/*--------------------------------------------------------------
# 
--------------------------------------------------------------*/
@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.bg-primary {
    background-color: #008fd4 !important;
}

.bg-gradient {
    background-image: var(--bs-gradient) !important;
}

.vp-logo{
    max-width: 200px;
}

.text-primary {
    text-decoration: none !important;
    color: #008fd4 !important;
}


.bg-primary-gradient {
    background: linear-gradient(180deg, #0d8ed3 0%, #1aa0d8 100%);
}

/*.bg-footer {
    background-color: #2f3e4e;
}

.footer-card {
    border: 1px solid #004fa4;
}

    .footer-links a:hover {
        color: #d0d0d0;
    }


.footer-links li {
    padding: .4rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;*/ /* space between icon and text */
/*}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;*/ /* keep on one line */
/*}*/


/* FOOTER BASE */
.footer {
    background-color: #2f3e4e;
    color: #ffffff;
    /*  padding: 3rem 0 2rem;*/
    font-size: 0.95rem;
}

/* THEME TOGGLE */
.theme-toggle {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.85rem;
    margin-bottom: 1.25rem;
}

/* CONTACT CARD */
.footer-card {
    background: #ffffff;
    color: #1f2d3d;
    border-radius: 18px;
    padding: 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #0d6efd;
    text-align: center;
}

    .footer-card img {
        max-height: 60px;
        margin-bottom: 1rem;
    }

    .footer-card p {
        margin: 0;
        font-size: 0.85rem;
    }

    .footer-card a {
        color: #0d8ed3;
        text-decoration: none;
        font-weight: 500;
    }

/* HEADINGS */
.footer h5 {
    font-weight: 700;
    margin-bottom: 1rem;
}

/* FOOTER LINKS */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .footer-links li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.35rem 0;
    }

    .footer-links i {
        color: #cfd8df;
        font-size: 0.7rem;
    }

    .footer-links a {
        color: #ffffff;
        text-decoration: none;
        white-space: nowrap;
    }

        .footer-links a:hover {
            color: #d0d0d0;
        }

/* DIVIDER */
.footer hr {
    border-color: rgba(255, 255, 255, 0.2);
    margin: 2rem 0 1.25rem;
}

/* FOOTER BOTTOM */
.footer-bottom {
    text-align: center;
    font-size: 0.8rem;
    color: #d3dbe3;
}

    .footer-bottom p {
        margin: 0.25rem 0;
    }

.theme-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .theme-toggle .form-check {
        display: flex;
        align-items: center;
    }

    .theme-toggle .form-check-input {
        transform: scale(1.6);
    }

    .theme-toggle .form-switch {
        padding-left: 0.5rem;
    }

    .theme-toggle .form-switch .form-check-input {
        margin-left: 0;
    }


.page-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}