<div>
    <dp-loading-spinner *ngIf="isLoading" message="Logging you in..."></dp-loading-spinner>

    <ng-container *ngIf="professionals && professionals.data && professionals.data.length > 1">
        <p>
            It seems like you have access to multiple systems. Please select the system you want to login.
        </p>

        <div>
            <ul class="list-group">
                <li *ngFor="let professional of professionals.data"
                    class="list-group-item list-group-item-action"
                    (click)="selectProfessional(professional)">
                    {{professional.name}}
                </li>
            </ul>
        </div>
    </ng-container>

    <ng-container *ngIf="suppliers && suppliers.data && suppliers.data.length > 1">
        <p>
            It seems like you have access to multiple systems. Please select the system you want to login.
        </p>

        <div>
            <ul class="list-group">
                <li *ngFor="let supplier of suppliers.data"
                    class="list-group-item list-group-item-action"
                    (click)="selectSupplier(supplier)">
                    {{supplier.name}}
                </li>
            </ul>
        </div>
    </ng-container>
</div>