<dp-loading-spinner *ngIf="table.isLoading"></dp-loading-spinner>

<ng-template #expirationDateCell let-rowData="rowData">
    <div class="border border-secondary d-inline-block px-2 py-1 rounded-3"
         [class.text-bg-primary]="!rowData.expirationDate"
         [class.text-bg-success]="rowData.expirationDate && rowData.expirationType === expirationType.Valid"
         [class.text-bg-warning]="rowData.expirationDate && rowData.expirationType === expirationType.AboutToExpire"
         [class.text-bg-danger]="rowData.expirationDate && rowData.expirationType === expirationType.Expired"
         [attr.aria-label]="!rowData.expirationDate ? 'Validating' : rowData.expirationType === expirationType.Valid ? 'Valid' : rowData.expirationType === expirationType.AboutToExpire ? 'About to Expire' : 'Expired'">
        {{ rowData.expirationDate ? (rowData.expirationDate | date) : 'Validating...' }}
    </div>
</ng-template>

<ng-template #actionsCell let-rowData="rowData">
    <div (click)="$event.stopPropagation()">
        <button type="button" class="btn btn-primary" (click)="manage(rowData)">Manage</button>
    </div>
</ng-template>

<vp-section header="Unverified Transporter Registrations">
    <vp-table *ngIf="table.items"
              [columns]="table.columns!"
              [data]="table.items.data"
              [(pageInfo)]="table.items.pageInfo"
              (pageInfoChange)="loadRegistrations()"
              [(query)]="table.query"
              (queryChange)="loadRegistrations()"
              (queryReset)="loadRegistrations()"
              [freeTextSearch]="table.freeTextSearch" />
</vp-section>
