<h1 class="text-center h2">FOG Inspection Search</h1>

<div [hidden]="showResults">
    <form #searchForm="ngForm" (ngSubmit)="search()">
        <vp-filter-panel (filterChange)="onFilterChange($event)">

            <vp-section header="General Search Criteria">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="waterSupplier.id"
                                                   label="Record search scope"
                                                   labelStyle="horizontal"
                                                   type="select"
                                                   [options]="waterSupplierScopeOptions"
                                                   [form]="searchForm" />
                        </div>
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="facilityType"
                                                   label="Facility type"
                                                   labelStyle="horizontal"
                                                   type="multi-select"
                                                   [options]="facilityTypeOptions"
                                                   [form]="searchForm" />
                        </div>
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="interceptorType"
                                                   label="Interceptor type"
                                                   labelStyle="horizontal"
                                                   type="select"
                                                   [options]="interceptorTypeOptions"
                                                   [form]="searchForm" />
                        </div>
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="inspectionResult"
                                                   label="Inspection result"
                                                   labelStyle="horizontal"
                                                   type="select"
                                                   [options]="inspectionResultOptions"
                                                   [form]="searchForm" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="site.accountNumber"
                                                   label="Account number"
                                                   labelStyle="horizontal"
                                                   [form]="searchForm" />
                        </div>
                        <div class="mb-2">
                            <vp-input type="select"
                                      label="Inspection History"
                                      labelStyle="horizontal"
                                      [options]="inspectionHistoryOptions"
                                      [ngModel]="latestOnly ? 'true' : 'false'"
                                      (ngModelChange)="onLatestOnlyChange($event)"
                                      [ngModelOptions]="{standalone: true}" />
                        </div>
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="inspectionDate"
                                                   label="Inspection date"
                                                   labelStyle="horizontal"
                                                   type="daterange"
                                                   [form]="searchForm" />
                        </div>
                        <div class="mb-2">
                            <vp-filter-panel-field fieldName="createdTime"
                                                   label="Submission date"
                                                   labelStyle="horizontal"
                                                   type="daterange"
                                                   [form]="searchForm" />
                        </div>
                    </div>
                </div>
            </vp-section>

            <div class="row mt-3">
                <div class="col-md-6">
                    <vp-section header="Location / Property Criteria">
                        <div>
                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="propertyType"
                                                       label="Property type"
                                                       labelStyle="horizontal"
                                                       type="select"
                                                       [options]="propertyTypeOptions"
                                                       [form]="searchForm" />
                            </div>
                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="propertyBusinessName"
                                                       label="Business name"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>

                            <div class="row">
                                <div class="col-xl-5 d-flex align-items-center">
                                    <div class="text-xl-end w-100">
                                        Address
                                    </div>
                                </div>
                                <div class="col-xl d-xl-flex gap-1">
                                    <div class="mb-2">
                                        <vp-filter-panel-field fieldName="propertyStreetNumber"
                                                               label="Street #"
                                                               [form]="searchForm" />
                                    </div>

                                    <div class="mb-2">
                                        <vp-filter-panel-field fieldName="propertyStreetName"
                                                               label="Street name"
                                                               [form]="searchForm" />
                                    </div>

                                    <div class="mb-2">
                                        <vp-filter-panel-field fieldName="propertyNumber"
                                                               label="Suite/Apt #"
                                                               [form]="searchForm" />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <vp-filter-panel-field fieldName="propertyZip"
                                                       label="ZIP"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>
                        </div>
                    </vp-section>
                </div>

                <div class="col-md-6 mt-3 mt-md-0">
                    <vp-section header="Contact / Mailing Criteria">
                        <div>
                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="mailingCompanyName"
                                                       label="Company name"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>
                            <div class="mb-2">
                                <vp-filter-panel-field fieldName="mailingContactName"
                                                       label="Contact name"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>

                            <div class="row">
                                <div class="col-xl-5 d-flex align-items-center">
                                    <div class="text-xl-end w-100">
                                        Address
                                    </div>
                                </div>
                                <div class="col-xl d-xl-flex gap-1">
                                    <div class="mb-2">
                                        <vp-filter-panel-field fieldName="mailingStreetNumber"
                                                               label="Street #"
                                                               [form]="searchForm" />
                                    </div>

                                    <div class="mb-2">
                                        <vp-filter-panel-field fieldName="mailingStreetName"
                                                               label="Street name"
                                                               [form]="searchForm" />
                                    </div>

                                    <div class="mb-2">
                                        <vp-filter-panel-field fieldName="mailingNumber"
                                                               label="Suite/Apt #"
                                                               [form]="searchForm" />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <vp-filter-panel-field fieldName="mailingZip"
                                                       label="ZIP"
                                                       labelStyle="horizontal"
                                                       [form]="searchForm" />
                            </div>
                        </div>
                    </vp-section>
                </div>
            </div>

        </vp-filter-panel>

        <div class="mt-3">
            <div *ngIf="searchAttempted && !table.items?.data?.length"
                 class="alert alert-info text-center mb-3">
                No records found matching the search criteria.
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit"
                        class="btn btn-primary vp-section-button"
                        [disabled]="table.isLoading">
                    <i class="fa-solid fa-magnifying-glass me-1"></i>
                    Search
                </button>
            </div>
        </div>
    </form>
</div>

<dp-loading-spinner *ngIf="table.isLoading"></dp-loading-spinner>

<ng-template #iconsCell let-inspection="rowData">
    <div class="d-flex gap-1">
        <vp-status-icon *ngIf="inspection.inspectionResult === FogInspectionResult.Passed"
                        imageSrc="/images/icons/bstatus-green-on.png"
                        text="Passed"
                        [showText]="false" />
        <vp-status-icon *ngIf="inspection.inspectionResult === FogInspectionResult.Failed"
                        imageSrc="/images/icons/bstatus-red-on.png"
                        text="Failed"
                        [showText]="false" />
        <i *ngIf="inspection.propertyType === PropertyType.Residential" class="fa-solid fa-house text-primary"></i>
        <i *ngIf="inspection.propertyType === PropertyType.Commercial" class="fa-solid fa-building text-danger"></i>
    </div>
</ng-template>

<ng-template #generatorCell let-inspection="rowData">
    <div>{{inspection.propertyBusinessName}}</div>
    <div>{{inspection.propertyStreetNumber}} {{inspection.propertyStreetName}} {{inspection.propertyNumber}}
        {{inspection.propertyCity}}
    </div>
</ng-template>

<ng-template #interceptorCell let-inspection="rowData">
    <div>{{inspection.interceptorType}}<span *ngIf="inspection.interceptorType === InterceptorType.Other"> -
            {{inspection.interceptorOtherDescription}}</span></div>
    <div *ngIf="inspection.interceptorCapacity">{{inspection.interceptorCapacity}} Gallons</div>
    <div *ngIf="inspection.interceptorLocationDescription">{{inspection.interceptorLocationDescription}}</div>
</ng-template>

<ng-template #resultCell let-inspection="rowData">
    <span *ngIf="inspection.inspectionResult === FogInspectionResult.Passed"
          class="badge bg-success">Passed</span>
    <span *ngIf="inspection.inspectionResult === FogInspectionResult.Failed"
          class="badge bg-danger">Failed</span>
</ng-template>

<div *ngIf="showResults && !table.isLoading">

    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2">
        <button type="button" class="btn btn-primary vp-section-button flex-grow-1 flex-lg-grow-0"
                (click)="showDownloadManager()">
            <i class="fa-regular fa-file-export me-1"></i>
            Export Results
        </button>
        <button type="button" class="btn btn-primary vp-section-button flex-grow-1 flex-lg-grow-0"
              (click)="viewPrintableTable()">
            <i class="fa-regular fa-table me-1"></i>
            View Printable Table
        </button>
        <button type="button" class="btn btn-primary vp-section-button flex-grow-1 flex-lg-grow-0"
                (click)="setShowResults(false)">
            <i class="fa-solid fa-magnifying-glass me-1"></i>
            Search Again
        </button>
    </div>

    <vp-section header="FOG Inspection Search - {{table.items?.pageInfo?.totalItems || 0}} Results">
        <div #printableSection>
            <div class="container mb-3" >
                <div class="row gap-2 justify-content-center mb-3">
                    <div class="col-auto mb-2">
                        <vp-status-icon imageSrc="/images/icons/bstatus-green-on.png" text="Passed" />
                        <vp-status-icon imageSrc="/images/icons/bstatus-red-on.png" text="Failed" />
                    </div>
                    <div class="col-auto mb-2">
                        <vp-status-icon iconClass="fa-solid fa-house text-primary" text="Residential" />
                        <vp-status-icon iconClass="fa-solid fa-building text-danger" text="Commercial" />
                    </div>
                </div>
            </div>

            <vp-table *ngIf="table.items && table.items.data && table.items.data.length > 0"
                    [columns]="table.columns!"
                    [data]="table.items.data"
                    [(pageInfo)]="table.items.pageInfo"
                    (pageInfoChange)="getInspections()"
                    [(query)]="table.query"
                    (queryChange)="getInspections()"
                    (queryReset)="getInspections()"
                    [freeTextSearch]="table.freeTextSearch"
                    [canViewDetails]="true"
                    (viewDetails)="viewInspection($event)" />

            <div *ngIf="table.items?.data?.length === 0" class="text-center py-3 text-muted">
                No records found matching the search criteria.
            </div>
        </div>
    </vp-section>
</div>