<div class="text-center">
    <button type="button"
            class="AcceptUI btn btn-primary vp-section-button btn-lg px-5"
            [disabled]="!isReady"
            [attr.data-apiLoginID]="apiLoginId"
            [attr.data-clientKey]="publicClientKey"
            data-acceptUIFormBtnTxt="Submit"
            data-acceptUIFormHeaderTxt="Card Information"
            data-billingAddressOptions='{"show":false}'
            data-responseHandler="acceptUiResponseHandler"
            (click)="onEnterCardDetailsClick()">
        Enter Card Details
    </button>

    <div *ngIf="hasCapturedToken" class="text-success mt-2">
        <i class="fa-solid fa-check me-1"></i>Card details captured
    </div>

    <div *ngIf="errors.length" class="text-danger mt-2">
        <div *ngFor="let error of errors">{{ error }}</div>
    </div>
</div>
