<div [hidden]="showResults">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
        <vp-filter-panel (filterChange)="onFilterChange($event)">
            <vp-section header="General Search Criteria">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="waterSupplier.id"
                                                   label="Water Supplier"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="waterSupplierOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="id"
                                                   label="Site ID"
                                                   type="number"
                                                   [form]="searchForm" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="accountNumber"
                                                   label="Account Number"
                                                   [form]="searchForm" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="active"
                                                   label="Active"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="invalidMailingAddress"
                                                   label="Invalid Mailing Address"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="outOfArea"
                                                   label="Out of Area"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="isFeeExempt"
                                                   label="Is Fee Exempt"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="needsCsiInspection"
                                                   label="Needs CSI Inspection"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="csiRenewalDate"
                                                   label="CSI Renewal Date"
                                                   type="daterange"
                                                   [form]="searchForm" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="fogCompliancyStatus"
                                                   label="FOG Compliancy Status"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="fogCompliancyStatusOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="needsFogInspection"
                                                   label="Needs FOG Inspection"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="fogInspectionExpirationDate"
                                                   label="FOG Inspection Expiration"
                                                   type="daterange"
                                                   [form]="searchForm" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="needsFogPermit"
                                                   label="Needs FOG Permit"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <vp-filter-panel-field fieldName="fogPermitExpirationDate"
                                               label="FOG Permit Expiration"
                                               type="daterange"
                                               [form]="searchForm" />
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="facilityType"
                                                   label="Facility Type"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="facilityTypes" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="greaseTrapType"
                                                   label="Grease Trap"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="greaseTrapOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasOnSiteSewageFacility"
                                                   label="Has On-Site Sewage Facility"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasAuxWaterSupply"
                                                   label="Has Auxiliary Water Supply"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasFireSystem"
                                                   label="Has Fire System"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="fireSeparateWater"
                                                   label="Fire System on Separate Water Supply"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasGritTrap"
                                                   label="Has Sand & Grit Trap"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="hasIrrigation"
                                                   label="Has Irrigation System"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <div class="mb-3">
                            <vp-filter-panel-field fieldName="irrigationSeparateWater"
                                                   label="Irrigation on Separate Water Supply"
                                                   type="select"
                                                   [form]="searchForm"
                                                   [options]="yesNoOptions" />
                        </div>

                        <vp-filter-panel-field fieldName="hasDomesticPremisesIsolation"
                                               label="Has Domestic/Premises Isolation"
                                               type="select"
                                               [form]="searchForm"
                                               [options]="yesNoOptions" />
                    </div>
                </div>
            </vp-section>

            <div class="row mt-3">
                <div class="col-md-6">
                    <vp-section header="Property Information">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <vp-filter-panel-field fieldName="propertyType"
                                                       label="Property Type"
                                                       type="select"
                                                       [form]="searchForm"
                                                       [options]="propertyTypes" />
                            </div>

                            <div class="col-12 mb-3">
                                <vp-filter-panel-field fieldName="businessName"
                                                       label="Business Name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-3 mb-3">
                                <vp-filter-panel-field fieldName="streetNumber"
                                                       label="Street #"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-6 mb-3">
                                <vp-filter-panel-field fieldName="streetName"
                                                       label="Street Name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-3 mb-3">
                                <vp-filter-panel-field fieldName="propertyNumber"
                                                       label="#"
                                                       [form]="searchForm" />
                            </div>
                        </div>
                    </vp-section>
                </div>

                <div class="col-md-6 mt-3 mt-md-0">
                    <vp-section header="Mailing Information">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <vp-filter-panel-field fieldName="mailingCompanyName"
                                                       label="Company Name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-12 mb-3">
                                <vp-filter-panel-field fieldName="mailingContactName"
                                                       label="Contact Name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-3 mb-3">
                                <vp-filter-panel-field fieldName="mailingStreetNumber"
                                                       label="Street #"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-6 mb-3">
                                <vp-filter-panel-field fieldName="mailingStreetName"
                                                       label="Street Name"
                                                       [form]="searchForm" />
                            </div>

                            <div class="col-3 mb-3">
                                <vp-filter-panel-field fieldName="mailingNumber"
                                                       label="#"
                                                       [form]="searchForm" />
                            </div>
                        </div>
                    </vp-section>
                </div>
            </div>
        </vp-filter-panel>

        <div class="mt-3">
            <vp-validation-summary [form]="searchForm" />

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary vp-section-button">
                    <i class="fa-solid fa-magnifying-glass me-1"></i>
                    Search
                </button>
            </div>
        </div>
    </form>
</div>

<dp-loading-spinner *ngIf="table.isLoading"></dp-loading-spinner>

<div *ngIf="showResults">
    <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-primary vp-section-button" (click)="showResults = false">
            <i class="fa-solid fa-magnifying-glass me-1"></i>
            Search Again
        </button>
    </div>

    <vp-section header="Search Results ({{ table.items?.pageInfo?.totalItems }})">
        <vp-table *ngIf="table.items"
                  [columns]="table.columns!"
                  [data]="table.items.data"
                  [(pageInfo)]="table.items.pageInfo"
                  (pageInfoChange)="getSites()"
                  [(query)]="table.query"
                  (queryChange)="getSites()"
                  (queryReset)="getSites()" />
    </vp-section>
</div>

<ng-template #statusCell let-rowData="rowData">
    <span class="badge bg-success me-1" *ngIf="rowData?.active">Active</span>
    <span class="badge bg-danger me-1" *ngIf="rowData?.outOfArea">Out of Area</span>
    <span class="badge bg-primary" *ngIf="rowData?.isFeeExempt">Fee Exempt</span>
</ng-template>

<ng-template #propertyTypeCell let-rowData="rowData">
    <span *ngIf="rowData?.propertyType === propertyType.Residential">Residential</span>
    <span *ngIf="rowData?.propertyType === propertyType.Commercial">Commercial</span>
</ng-template>
